h1{
    margin-bottom: 15px!important;
}
.category-list__item{
    cursor: pointer;
}
.category-list__item.active a{
    color: #ffae00;
}
.rbs-category-discount .accordion__heading{
    padding: 0;
    padding-left:0;
}
.rbs-category-discount .accordion__arrow{
    right: 8px;
    top: 23px;
}
.rbs-category-discount .tab-cont{
    padding: 0px;
}
.rbs-category-discount .tab-cont .tab-inner{
    display: block;
}

.category{
    padding: 0 !important;
    border: none!important;
}
.rbs-category-discount{
    margin-bottom: 30px;
    border: 1px solid #e8e8e8;
    border-bottom: none;
    box-shadow: 0 0 10px rgba(0,0,0,.12);
}
.rbs-category-discount h4{
    padding: 10px 20px!important;
    background-color:  #FFCD24;
}
.rbs-category-discount .category-list{
    margin:0;
    padding: 0;
    background: #ffffff;
}
.rbs-category-discount .category-list .category-list__item{
    padding: 10px 20px!important;
    border-bottom: 1px solid #e8e8e8;
}
.accordion__item .category-list .category-list__item{
    padding: 10px 20px 10px 35px!important;
}
.rbs-category-discount .category-list .category-list__item a{
    position: relative;
}
.rbs-category-discount .category-list .category-list__item a span{
    position: absolute;
    right: 0;
    top: 4px;
}
.tab-top{margin-top: 20px;}
.rbs-discount-banner{position:relative;z-index: 1;}
.rbs-discount-banner .main-slider, .main-slider__content{height: 165px !important;}

@media(min-width:992px){
    
    .main-block_search .result{padding-top: 0 !important;}
    .main-block_search{
        padding: 30px !important;
        background: #fff !important;
    }
}
@media(max-width:1400px){
    .rbs-discount-banner .main-slider, .main-slider__content{height: 135px !important;}
}
@media(max-width:1400px){
    .rbs-discount-banner .main-slider, .main-slider__content{height: 110px !important;}
}
@media(max-width:767px){
    .rbs-discount-banner .main-slider, .main-slider__content{height: 95px !important;}
}
@media(max-width:640px){
    .rbs-discount-banner .main-slider, .main-slider__content{height: 75px!important;}
}
@media(max-width:510px){
    .rbs-discount-banner .main-slider, .main-slider__content{height: 65px!important;}
}
@media(max-width:450px){
    .rbs-discount-banner .main-slider, .main-slider__content{height: 55px!important;}
}
@media(max-width:385px){
    .rbs-discount-banner .main-slider, .main-slider__content{height: 45px!important;}
}
@media(max-width:767px){
    .category{background:#ffffff !important;}
    .rbs-category-discount:first-child{margin-top: 30px;}
    .rbs-category-discount{margin-left: 30px;margin-right: 15px;}
}