/*Общие стили для сайта*/
.button_disabled, .rbs-pointer-events-off{pointer-events: none;}
.rbs-max-height-400{max-height: 0;}
.rbs-no-aside{width:100%;margin:0;}
.margin-bottom-40{margin-bottom:40px;}
.rbs-flex-desktop-box{display: flex;}
.rbs-padding-10{padding:10px;}
.rbs-invisible{opacity: 0; z-index: -1 !important;}
.main-nav_inner.open-desktop{position: absolute;}
.rbs-mask{position: fixed;width: 100%;height:100%;top:0;left:0;right:0;bottom:0;background: rgba(0,0,0,.3);z-index: 102;display: none;}
.rbs-rotate-90{-moz-transform: rotate(180deg);-ms-transform: rotate(180deg);-webkit-transform: rotate(180deg);-o-transform: rotate(180deg);transform: rotate(180deg);}
#rbs_breadcrumbs_div{min-height:59px;}
a.catalog-title__link{max-height:72px;overflow: hidden;}
.cities__link.dev,.cities__link.msk{font-weight: bold;}
/* .rbs-video-icon{width: 68px;height:68px;display: flex;position: absolute;bottom: -30px;}
.rbs-video-icon svg{margin: auto;} */
/*msg*/
.rbs-success-msg{font-size: 16px; border: 1px solid green; border-radius: 5px; text-align: center; padding: 15px;color:black;}
.rbs-error-msg{font-size: 16px; border: 1px solid red; border-radius: 5px; text-align: center; padding: 15px;color:black;}
/*forms*/
.qty-val{text-align: center;}
.checkbox label{padding-left: 0;}
.wait .checkbox{margin: 12px 7px 12px;padding: 0 0 0 20px;font: 9px/21px OpenSans,sans-serif;}
.wait .checkbox label:before{padding: 0;top: -2px;left: 2px;z-index: 1;font: 7px/21px icons;}
.wait .checkbox label:after{width: 14px;height:14px;top:2px;}
.card-main__cont_wait .wait.popup__main{max-width:100%;margin:0;padding-top:30px;}
.card-main__cont_wait .wait.popup__main p{font-size:14px;}
.list-check__label .catalog-label{margin:0;}
.list-check__label .catalog-label_discount{padding: 0 9px 0 24px}
.list-check__label .catalog-label_discount:before{left:10px;}
/*placeholder lazy*/
.placeholder {margin: 0 auto;max-width: 100%;min-height: 100px;max-height:100%;background-color: transparent;}
.placeholder {background-size: 800px 104px;height: 100px;position: relative;}
.card-img-big__item .placeholder{min-height:400px;}
.popup__main .card-img-big__item .placeholder{min-height:200px;}
.catalog-image__fix img.placeholder{height:inherit;}
/*search btn*/
.search-form__button{margin-bottom: 0;}
/*menu btns*/
.rbs-menu-img{position: absolute;top: 15px;left: 15px;width: 30px;}
.rbs-background-li-menu-item {background-repeat: no-repeat;background-position: 50% -69px;}
.rbs-background-li-menu-item:hover {background-position: 50% 0;}
.rbs-background-li-menu-item:hover a span{color:#ffce24;}
.rbs-background-li-menu-item a{padding: 4px 0 6px 0 !important;text-align: center;}
.rbs-background-li-menu-item .main-nav__link.active, .rbs-background-li-menu-item .main-nav__link:hover{background: none;color:#333;}

.rbs-none-arrow::before,.b-rub{display: none!important;}
.rbs-order-for-print, .for-print{display: none;}

.location__title, .location__city{text-align: left;}

.rbs-delimiter-tariff{display: inline-block; padding: 0 5px;}
.city-hide,.fancybox-container.fancybox-is-open{z-index: 99991!important;}
.rbs-video-main .fancybox-button--close{opacity: 0;top: -30px; right: -30px;background-color: rgba(153, 153, 153, 1);color: rgb(255, 255, 255);}
.edost.edost_catalogdelivery_inside.card-main-delivery-list{padding: 10px 0 10px 0;border-bottom:1px solid #e8e8e8;}
.btn-main{border-radius: 3px; background: #ffce24; color: #222;}
.btn-main.disabled{background: #f1f0f0;}
.more-catalog,.footer__right .yandex{cursor: pointer;}
.card-ctl__heading.main-nav__link{padding-left:50px;}
.card-ctl:nth-child(3n){margin-right:8px;}
.hidden {display: none !important;visibility: hidden !important}
.rbs-today-delivery{position:relative;cursor:pointer;font-weight:normal!important;border-bottom:1px dotted #656565;color:#656565!important;}
.rbs-today-delivery .card-tooltipe{color: #fff;font-weight: normal!important;padding: 5px 10px 2px;margin-top: 5px;}
.rbs-today-delivery.show-question .card-tooltipe{display: block;}

.popup-arrow {
	position: relative;
	box-shadow: 1px 1px 5px;
}
.popup-arrow:before, .popup-arrow:after {
	width: 20px;
	height: 20px;
	
	content: "";
    position: absolute;
    left: 50%;
    top: -10px;
    
    margin-left: -15px;
    box-shadow: 1px 1px 5px;
    transform: rotate(-45deg);
    background: #fff;
    z-index: -1;
}

.popup-arrow:after{
	box-shadow: none;
	z-index: 2;
}

.to-up-arrow.hide{
	display: none;
}
.to-up-arrow{
	display: block;
	position: fixed;
	opacity: .5;
	z-index: 999;
	top: auto;
	left: 20px;
	bottom: 20px;

	width: 64px;
	height: 64px;

	background-repeat: no-repeat;
	background-size: contain;

	cursor: pointer;
}

.up-png-md, .up-webp-md{
	width: 96px;
	height: 32px;
}
.up-png-md{
	background-image: url('../new_img/up-desktop.png');
}
.up-webp-md{
	background-image: url('../new_img/up-desktop.webp');
}
.up-png-xs{
	background-image: url('../new_img/up-mobile.png');
}
.up-webp-xs{
	background-image: url('../new_img/up-mobile.webp');
}

.to-up-arrow:hover,
.to-up-arrow.upper{
	opacity: 1;
}

/*delivery*/
.tab-text{
	overflow: auto;
}
.tab-text table, .tab-text table td{
    border: 1px solid #222;
    padding: 5px
        
}
.tab-text table tr:first-child{
    background: #ddd;
}

.grecaptcha-badge {
    display: none!important;
}

.call-form .input {
	border-radius: 10px;
}

.call-form .input-fix, .call-form .input{
	font: 16px/40px 'OpenSans', sans-serif;
}

.call-form form{
	margin-bottom: 10px;
}

.close-default{
	position: absolute;
	right: 10px;
	top: 10px;
}

.close-city-choose-popup{
	position: absolute;
	right: 10px;
	top: 10px;

	width: 20px;
	height: 20px;
}

.close-city-choose-popup:before{
	font: 10px/20px 'icons';
}

/*rating*/
/* .rating[data-rating="1"] a:nth-of-type(-n+1):before{color:#fece24}
.rating[data-rating="2"] a:nth-of-type(-n+2):before{color:#fece24}
.rating[data-rating="3"] a:nth-of-type(-n+3):before{color:#fece24}
.rating[data-rating="4"] a:nth-of-type(-n+4):before{color:#fece24}
.rating[data-rating="5"] a:nth-of-type(-n+5):before{color:#fece24} */
.rating a:before{color:#fece24}

.catalog-label_discount{padding:0 18px 0 9px;}
.catalog-label_discount:before{left:auto;}

.tab-accessories .rbs-no-aside .catalog-item{width: calc(100% / 5);}

.header-top__right{
	position: relative;
}

.is-your-city{
	background: #fff;
    position: absolute;
    padding: 15px;
	top: 70px;
	left: 10px;
	text-align: left;
}

.shadow-default{
	box-shadow: 0 0 10px 5px rgba(0,0,0,.25);
}


a.location__button{
	cursor: pointer;
	margin-bottom:0;
	font: 14px/36px 'Roboto', sans-serif;
	font-weight: 500;
}

/* .is-your-city .location__title,.is-your-city .location__city{
	display: inline-block;
}
.is-your-city .location__title{
	margin-right: 10px;
	margin-left:5px;
} */

.city-text{
	display: flex;
	width: 100%;
	justify-content: center;
	margin-bottom: 10px;
}

.location__button.button.active{
	background-color: #ffce24;
	border-color: #ffce24;
}

/*модалка быстрого просмотра*/
.popup-accessories h1{max-width: calc(100% - 275px);}
.rbs_quick_view h1{max-width: 100%;}
.popup-accessories .rbs_quick_view  .card-main__inf{margin-top:0;}
.popup-accessories .rbs_quick_view .card-img-big__item .card-img-big__img img{max-width: 400px;}
.rbs_quick_view .card-main-desc{display: flex; justify-content: center; width: calc(100% - 275px);padding:0;}
.rbs_quick_view .card-main-aside{position: absolute; right: 40px; bottom: 20px;}
.popup-accessories .rbs_quick_view  .card-img-slider{min-height: 450px;}
/* .popup-accessories{min-height:550px !important;} */

.card-main__inf.rbs-quick-view-service{margin-top: 15px;}
.card-main__inf.rbs-quick-view-service .card-main-aside{margin-top:0;}
/*баннеры список*/
.sib-banner-section img{max-width:100%;margin:auto;}
/*блок описания список*/
.rbs-section-description-block .seo__content{max-height: inherit;}
.rbs-section-description-block .seo__content:before{display:none;}
.rbs-section-description-block h2 {font-size: 26px;text-align: center;margin-bottom: 15px; padding: 0 0 7px;}
.rbs-section-description-block h3 {font-size: 20px;margin-top: 30px;margin-bottom: 15px;padding: 0px; color: #333;}
.rbs-section-description-block ul {padding: 0px;}
.rbs-section-description-block img{padding-bottom: 20px;max-height: 100%;max-width: 100%;margin: 0px;}
.rbs-section-description-block p{font-size: 15px;padding: 0px;line-height: inherit; color: #333;}
.rbs-section-description-block li{font-size: 15px;}
.rbs-section-description-block li:before{content: "\2022";float: left;}

.tab-wrap_card .tab-cont#tab_1{max-width: 1120px;margin: auto;}

/*Аякс поиск*/
.popup_ajax-search{background: #fff; padding: 10px;border-radius: 10px;right:auto;}
.popup_ajax-search .ajax-search-item{padding: 10px;}
#search tr[class*="category_"]{display: table-row;}
#search div.popup-ajax-footer{display: block;}
.ajax-search-item .btn-buy{padding: 0;}
#popup_ajax-search.mobile-result-search{display: block;position: static !important;}
.search-example-wrap{position: absolute;top: 18px;left: 55px;font: 15px/1 'Roboto', sans-serif;z-index: -1;}

/*модалка регистрации*/
form .info{margin-bottom: 5px; display:none;padding: 10px;background: #464646;color: white;border-radius: 20px;max-width: 350px;text-align: center;}
form .info a{color: #ffd74e;}

/*кнопки в попапах сравнения и малой корзины*/
.rbs-basket-hide a.button{position:absolute;bottom:20px;}
.rbs-basket-hide a.button:last-child{right:25px;}
.header-basket_desk .basket-total{padding-top:22px;}

/*Обратный звонок в шапке*/
#rbs-send-call .rbs-captcha img {margin: 10px auto;}

/*главное меню десктоп*/
ul.rbs-ul-lvl-3 {padding: 0;}
ul.rbs-ul-lvl-3 + ul.rbs-ul-lvl-3 {left: calc(100% + 200px);}
ul.rbs-ul-lvl-3 + ul.rbs-ul-lvl-3 + ul.rbs-ul-lvl-3 {left: calc(100% + 400px);}

.rbs-main-nav-desktop{z-index: 101;}
ul.main-nav__list{z-index: 3;}
main.main.masked:before,main.main.masked-light:before{content:''; display:block;position:absolute;left:0;right:0;bottom:0;top:0;background: rgba(0, 0, 0, 0.5);z-index: 4;}
main.main.masked-light:before{top: 130px;}
nav.rbs-main-nav-desktop .rbs-ul-lvl-2{width: 249px;}
nav.rbs-main-nav-desktop .rbs-ul-lvl-3, nav.rbs-main-nav-desktop .rbs-ul-lvl-3 li{width: 200px;}

/*Главное меню мобилка*/
nav.main-nav_mobile .inner-nav-inside .inner-nav-inside{top:0;padding-bottom: 55px;}

.main-block_catalog2-2 .catalog__list .catalog-item__content{
	height: 170px;
}

.main-block_catalog2-2 .catalog__list .catalog-item__col{
	height: 100%;
}

.compfav-block{
	position: absolute;
	bottom: 0;
}

.favorite-list-btn,
.compare-list-btn{
	display: inline-block;
	margin-right: 10px;
	padding: 10px 15px 10px 35px;
	border-radius: 20px;
	border: 1px solid #d0d0d0;
	color: #d0d0d0;
	background-image: url('../new_img/svg/sr_d.svg');
	background-repeat: no-repeat;
	background-position: 10px center;
	background-size: 15px;

	cursor: pointer;
}

.favorite-list-btn{
	background-image: url('../new_img/svg/iz_d.svg');
	background-size: 17px;
}

.favorite-list-btn:hover,.favorite-list-btn.toggled,
.compare-list-btn:hover,.compare-list-btn.toggled{
	background-color: #fece24;
	border-color: #333333;
	color: #333333;

	background-image: url('../new_img/svg/sr_h_d.svg');
}

.favorite-list-btn:hover,.favorite-list-btn.toggled{
	background-image: url('../new_img/svg/iz_h_d.svg');
}

.reviews-count{
	position: absolute;
    top: 0;
	left: 255px;
	color: #d0d0d0;
    font-weight: bold;
}

.review-count-ico{
	padding: 0 0 0 20px;
	background: url('../new_img/svg/vopr.svg') no-repeat;
	background-size: 15px;
	background-position: 0 1px;
}

/*ДЕТАЛКА*/
	/*доступно*/
	.store-status{color:#333;cursor: default;}
	.store-count span{display: inline-block;height: 20px; width: 10px; border: 1px solid #e0e0e0;border-radius: 3px;color:rgba(0,0,0,0);}
	.store-count[data-count="3"] span:nth-of-type(-n+3){background: #009835; border-color: #009835}
	.store-count[data-count="2"] span:nth-of-type(-n+2){background: #FFCE24; border-color: #FFCE24}
	.store-count[data-count="1"] span:nth-of-type(-n+1){background: #F85858; border-color: #F85858}
	/*остальное*/
	.detail-title{margin:0 0 0 1px;padding: 30px 70px 0;width:100%;background:#fff;font: 600 26px/1.2 'OpenSans', sans-serif;}
	.card-main.detail-main-block{padding: 30px 70px 0;} 
	.main-block.main-block_order, .card-main__img, .card-img-big{padding: 0!important;}
	.characteristics-list__value{white-space: normal;}
	.js-card-img-big img:not(.rbs-first-big-img),.js-card-img-nav{opacity: 0;}
	.card-img-big{padding-top:25px;}
	.card-img-big .card-img-big__item img{max-height: 376px;margin: auto;}
	.card-img-nav img, .js-slider-detail-modal-nav img{margin:auto;padding:5px;}
	.card-img-nav{padding-top:40px;}
	.rbs-fancy-white{z-index: 10200!important;}
	.rbs-fancy-white.fancybox-is-open .fancybox-bg{opacity: 1; background: white;}
	.card-main-price, .card-recommend{box-shadow: 0 0 10px 5px rgba(0,0,0,.25);}
	.card-recommend .catalog-item__content{padding:0;width: 100%;}
	.card-recommend .rec-item__img{display: inline-block;}
	.card-recommend .catalog-title{max-width:100%}
	.card-recommend .catalog-title__link{display: inline-block;max-width:calc(100% - 80px);}
	.card-recommend .catalog-bottom{padding: 0 9px;}
	.card-recommend .rating_big{padding-left:73px;}
	.popup-detail-gallery{height:100%;}
	.popup-detail-gallery .card-main-price {position: absolute;width: 300px;right: 20px;bottom: 175px;z-index: 99999;}
	.popup-detail-gallery .card-main-delivery {position: absolute;width: 300px;right: 20px;bottom: -10px;z-index: 99999;}
	.popup-detail-gallery .arrows-2 .slick-next, .popup-detail-gallery .arrows-2 .slick-prev{margin-top: -100px;}
	.popup-detail-gallery .popup__main{height: 100%;display: flex; align-items: center;}
	.popup-detail-gallery .rbs-modal-gallery-container{max-width:100%;margin: auto;}
	.js-slider-detail-modal-nav{width: 400px; position: fixed; z-index: 99999; bottom: 20px; left: calc(50% - 200px);}
	.js-slider-detail-modal-nav .slick-track{margin:auto;}
	.popup-detail-gallery .slick-list{z-index: 6;}
	.popup-detail-gallery .arrows-2 .slick-prev:before,
	.popup-detail-gallery .arrows-2 .slick-next:before{font: 60px/50px 'icons';z-index: 9;}
	.popup-detail-gallery .arrows-2 .slick-prev,
	.popup-detail-gallery .arrows-2 .slick-next{height: 60px;z-index: 9;}
	.js-slider-detail-modal-nav .slick-current .card-img-nav__img, .js-card-img-nav .slick-current .card-img-nav__img{border-color: #ffce24;}
	.popup-detail-gallery .arrows-2 .slick-prev{left: 0;}
	.popup-detail-gallery .arrows-2 .slick-next{right: 0;}
	.js-slider-detail-modal{max-width:100%;}
	.popup-detail-gallery img{margin:auto;}
	.rbs-modal-img-head{font-size:2.4em;color:#222;position:absolute;top:12px;}
	/*price*/
	.card-main-price .economy span{font-size:16px;}
	.js-mobile-tab-catalog.arrows-2 .slick-next{right:0;}
	.js-mobile-tab-catalog.arrows-2 .slick-prev{left:0;}
	.tab-wrap_card .nav-tab-list__item{width:100%; padding:0;}
	.detail-bactions{padding: 0 15px 20px;}
	/*Блок сравнения*/
	.compare__link.action{padding-left: 0!important;}
	.compare__link.action.compare{margin:0;}
	div.compare .tooltip{opacity: 0;}
	/* .main-block_tabs .rbs-lazy-img-text{margin:auto;} */
	/*detail in-cart button*/
	.card-main-price__btn .in-cart{display:none;}
	.card-main-price__btn.rbs-in-cart .text{display:none;}
	.card-main-price__btn.rbs-in-cart .text.in-cart{display:inline-block;}
	.card-main-price__btn{width:100%;padding: 0;margin: 0;border-radius:10px;}
	.rbs-one-click-detail{width:100%;padding: 0!important;}
	.rec-item.catalog-item:hover{z-index: 0;}
	/*town*/
	.detail-delivery-town{
		background-image: url(../new_img/locator.png);
		background-repeat: no-repeat;
		padding: 2px 0 10px 25px;
		border-bottom: 1px solid #e8e8e8;
		margin-bottom: 0;
	}
	/*Ску*/
	.rbs-choose-props-sku ul{display: block;margin: 0; padding: 0;}
	.rbs-choose-props-sku, .color-choice{margin-bottom: 10px;}
	.rbs-choose-props-sku .card-main__memory{margin-bottom: 5px;}
	/*Вкладка видео*/
	.rbs-video-tab{display: flex;align-items: flex-start;}
	.rbs-video-tab-content{display: flex;justify-content: space-between;flex-wrap: wrap;}
	.rbs-video-tab .review-block{width:50%;margin: 0 10px 0 0;}
	.rbs-video-tab .review-block:last-child{margin: 0 0 0 10px;}
	.rbs-blog-detail-item{text-align: right;margin-bottom:0px;width:100%;}
	.rbs-blog-detail-item div{width:100%;max-width:560px;margin:auto;height:315px;background-repeat: no-repeat;background-size:cover;background-position-x: 50%;position: relative;}
	.rbs-blog-detail-item a{position: absolute;top:0;left:0;width:100%;height:100%;}
	/* .rbs-blog-detail-item img{margin-bottom: 10px;} */
	.rbs-video-iframe{margin: 0 0 20px 0;}
	iframe .ytp-show-cards-title{display: none !important;}
	/*Вкладка аксессов*/
	.tab-accessories .accessories-filter__link, .tab-accessories .accessories-nav__link{cursor:pointer;}
	.accessories-filter{margin-top:0px;}
	.rbs-detail-city{cursor:pointer;}
	.catalog-item__main.access_fix{padding: 16px 0;}
	.catalog-item__main.access_fix.custom-item{border: 3px solid #ffce24;}
	.access_fix .catalog-item__content{padding: 0 16px;}
	.access_fix .catalog-title{max-width: 100%;}
	.access_fix .catalog-labels{top:16px;}
	.main-block_accessory .main-title{font: normal 26px 'OpenSans', sans-serif;}
	.rbs-hydrogel-sticker{
		background: no-repeat url('../img/stiker_desktop.png') center/contain;
		width: 68px;
		height: 68px;
		position: absolute;
		top: 10px;
		left: 10px;
		z-index: 2;
	}
	.nav-tab-list__item .nav-tab-list__link{
		font-family: 'OpenSans', sans-serif;
	}
	.access_fix .catalog-image__fix img, .access_fix .catalog-image__fix{
		max-height: 190px;
		height: 190px;
	}
	.cart__items .catalog-item__main.custom-item{box-shadow: 0px 0px 0px 2px #ffcf24;border-color: #ffcf24;margin:2px 0 15px 2px}
	/*Гарантия 2 года*/
	.rbs-garanty-block{width:100%;position:relative;display:inline-block;margin-bottom: 10px; border: 1px solid #ffce24;border-radius: 5px;padding: 10px;color:#222;padding-left: 55px;/* font-weight: bold; */}
	.rbs-garanty-img{width: 35px;position: absolute;left:10px;top: calc(50% - 18px);}
	.rbs-garanty-sticker{background: #ffce24;color: #222!important;padding-left: 10px;}
	.rbs-ym-block{cursor: pointer;padding-left: 160px;}
	.rbs-ym-img{position: absolute;left: 25px;top: 50%;margin-top: -20px;}
	.rbs-ym-img img{max-width:110px;}
	.rbs-ym-stars{display: flex;justify-content: center;align-items: center;}
	.rbs-ym-stars .rating_big .br-widget a{width:12px}
	.rbs-ym-stars .rating_big .br-widget a:before{font-size:10px;}
	.rbs-ym-stars .rating_big{height: 10px;}
	.rbs-ym-stars-count{font-size: 10px;padding:1px 0 0 4px;}
	#tab_4 .old-price{position: absolute;}
	/*чекбокс сравнения*/
	.other-options{
		text-align: left;
		padding: 0 20px;
		display: flex;
		justify-content: space-between;
	}
	.catalog_list .other-options{
		padding: 0;
		margin-top: 15px;
	}
	.compare-checkbox {
		display: inline-flex;
		margin: 0;
		padding: 2px 0 0 27px;
		-webkit-user-select: none;
		-ms-user-select: none;
		-moz-user-select: none;
				user-select: none;
		position: relative;
		text-align: left;
	}
	  .compare-checkbox  span {
		display: inline-block;
		vertical-align: top;
		cursor: pointer;
		color: #222;
	  }
	  .compare-checkbox.disabled {
		opacity: 0.5;
	  }
	  .compare-checkbox.disabled span {
		cursor: default;
	  }
	  .compare-checkbox.toggled span:before {
		opacity: 1;
	  }
	  .compare-checkbox span:before {
		content: "\e92b";
		width: 27px;
		height: 21px;
		padding: 0 0 0 5px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		font: 8px/21px 'icons';
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		color: #222;
		opacity: 0;
	  }
	  .compare-checkbox span:after {
		content: "";
		width: 21px;
		height: 21px;
		position: absolute;
		top: 0;
		left: 0;
		background: #fff;
		border-radius: 5px;
		border: 1px solid #cccccc;
	  }
	  .compare-checkbox:hover span:after{
		border-color: #ffce24;
	  }
	  .compare-checkbox.toggled span:after{
		background: #ffce24;
		border-color: #ffce24;
	  }

	li[data-delivery-id="425"],li[data-delivery-id="424"]{
		display: none;
	}
	.rbs-dblock-detail{
		position: relative;
	}
	.rbs-dblock-detail.card-main-delivery-list__item{
		align-items: start;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 10px;
	}
	.rbs-dblock-detail.card-main-delivery-list__item:last-child{
		margin-bottom: 0;
	}
	.rbs-edost-det-price{text-align: right;color: #333333;}
	.delivery-options__free{color: #f85858!important;}
	.rbs-edost-self-date{color:#656565;} 

	#popup-contacts .popup__title{max-width: 100%;}
	/* .rbs-dblock-detail .card-main-delivery-list__logo{
		margin-right: 0;
	} */
	/* .rbs-dblock-detail .rbs-delivery-img{
		position: absolute;
	}
		[data-delivery-id="354"].rbs-dblock-detail .rbs-delivery-img{
			top: 3px;
		} */

	/* .rbs-dblock-detail .card-main-delivery-list__name{
		padding-left: 25px;
	} */

	.card-main-desc .contacts__input, .card-main-desc .wait .button, .card-recommend .button {
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}
	.card-main__inf {
		margin-bottom: 30px;
	}

	.rbs-full-descr-ico{
		background: url(../img/full_descr.png) no-repeat center;
		background-size: contain;
		width: 22px;
		height: 22px;
		margin: 0 10px 0 0 !important;
	}
	.rbs-white-button.card-main-price__btn{
		background: #fff;
		border: 1px solid #ffce24;
		display: flex;
		margin-top: 10px;
		align-items: center;
		justify-content: center;
	}
	/*edost*/
	li .card-main-delivery-list__name:last-child{text-align: right;}
/*Фильтр*/
.rbs-clr-item{
	display: inline-block;
	margin-bottom: 5px;
    margin-right: 5px;
}
.rbs-clr-item .check_color_img_container{width:24px;height:24px;position: relative;}
.rbs-clr-item .check_color_img_container img{border-radius:50%;}
.rbs-clr-item .rbs-clr-label-choosen .check_color_img_container:before{
	position:absolute;
	content:'';
	display:block;
	background:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDExIDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHRpdGxlPkNoZWNrIENvcHk8L3RpdGxlPjxwYXRoIGQ9Ik0wIDMuODU1TDEuNTE4IDIuNDFsNC4wNDggMy44NTRMNC4wNDggNy43MSAwIDMuODU1em00LjA0OC45NjRMOS4xMDggMGwxLjUxNyAxLjQ0Ni01LjA2IDQuODE4TDQuMDUgNC44MnoiIGZpbGwtcnVsZT0ibm9uemVybyIgZmlsbD0iIzAwMCIvPjwvc3ZnPg==');
	width: 11px;
	height: 8px;
	z-index: 3;
    top: 50%;margin-top: -4px;
    left: 50%;margin-left: -5px;
}
.rbs-clr-item.rbs-clr-white .rbs-clr-label-choosen .check_color_img_container:before {
	background:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDExIDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHRpdGxlPkNoZWNrPC90aXRsZT48cGF0aCBkPSJNMCAzLjg1NUwxLjUxOCAyLjQxbDQuMDQ4IDMuODU0TDQuMDQ4IDcuNzEgMCAzLjg1NXptNC4wNDguOTY0TDkuMTA4IDBsMS41MTcgMS40NDYtNS4wNiA0LjgxOEw0LjA1IDQuODJ6IiBmaWxsLXJ1bGU9Im5vbnplcm8iIGZpbGw9IiNGRkYiLz48L3N2Zz4=');
}
.rbs-clr-name{
	display:none;
	margin-left:10px;
}
#set_filter{display: none;}  


.main-nav_mobile.open{z-index:1001;}
.rbs-close-filter-btn{display:none;top: 15px;right: 15px;}
/*Оформление заказа*/
.header-top-order .header-top__right .header-phone__number{color:#222!important;border-bottom:1px dotted #222;}
.header-top-order .header-top__right .header-phone__button:hover{color:#222;}
.total__btn_mobile{display: none;position: fixed;bottom: 0;left: 0;width: 100%;text-align: center;}
.main-block_order-success .total{height:auto;}
.checkbox a{color:#428bca;}
.delivery-options__img img{margin:auto;}
.main-block_order .total__sum span, .main-block_order .total__sum span:after{font:700 26px/1 'OpenSans', sans-serif}
.main-block_order .total__sum span:after{font:400 26px/1 'OpenSans', sans-serif}
/*РУБЛЬ!*/
.header-basket__total:after,
.basket-total__price:after,
.current-price:after,
.economy span:after,
.card-main-price .old-price:after,
.credit__text span:before,
.total__sum span:after,
.is-mobile-only .total-left span:after,
.main-block_order .order-list__item span:after,
.total__info p span:after,
.card-main__cont_wait .wait p span:after,
.icon-rub:before{content: "\20BD";font: 400 16px/1 'OpenSans', sans-serif;}
.buy-credit__price .icon-rub:before{font: 400 14px/1 'OpenSans', sans-serif;}
.current-price:after,
.header-basket__total:after,
.basket-total__price:after{font-size: 24px;}
@supports (-webkit-overflow-scrolling: touch) {
	.header-basket__total:after,
	.basket-total__price:after,
	.current-price:after,
	.economy span:after,
	.card-main-price .old-price:after,
	.credit__text span:before,
	.total__sum span:after,
	.is-mobile-only .total-left span:after,
	.main-block_order .order-list__item span:after,
	.total__info p span:after,
	.card-main__cont_wait .wait p span:after,
	.icon-rub:before{content: "\20BD";font: 400 16px/1 'Roboto', sans-serif;}
}
/*Экономия*/
.economy span:after{font-size: 22px;top:0px;}
.card-main-aside .economy span:after{font-size: 13px;top:-1px;}
.economy{font-size:13px;color:#f85858;border:1px solid #f85858;-webkit-border-radius:4px;border-radius:4px;max-width:180px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;padding-left:10px;height:28px}
.economy span{font-size:22px;font-weight:600;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;margin-left:5px}
.economy span:after{content:"\e927";font-family:'icons';font-size:12px;font-weight:400;position:relative;left:3px;top:1px}
.rbs-old-price-list{position:absolute;left:15px;bottom:70px;margin:0}
.slick-slide .rbs-old-price-list{bottom:60px}
.rbs-economy-list{position:absolute;right:11px;bottom:70px;font-size:12px;padding-right:10px;border:1px solid #f85858}
.rbs-economy-list .value,.rbs-economy-list .value:after{font-size:14px;top:0}
.catalog_list .rbs-economy-list{top:0;bottom:auto;right:10px;}
.card-main-price .current-price:after{font-size:30px;line-height:30px;top:0}
/*Корзина*/
.card-main-desc .rbs-disable-link a{/* pointer-events: none; */border:none;color:#cccccc;}
.card-main-desc .rbs-disable-link a:hover{background-color:#fff;cursor:default;}
.card-main-desc .rbs-disable-link a:before{position:absolute;content:'';width:100%;height:100%;border:1px solid #efefef;border-radius:4px;top:0;left:0}
.card-main-desc .color-list__item.rbs-disable-link a:before{top:-1px;left:-1px;background: rgba(255,255,255,.7);}
.card-main-desc .color-list__item.rbs-disable-link a:after{width: calc(100% + 3px);left: -5px;transform: rotate(-30deg);}
.rbs-form-content{width: 320px;}
.rbs-card-contact-link{position: relative;color:#656565;}
.rbs-card-contact-link:after{content: "";width: 100%;border-bottom: 1px dotted #656565;position: absolute;bottom: 0;left: 0;}
/*Сравнение*/
.main-block_compare .button.compare-switch{background-color: #e8e8e8;border-color: #e8e8e8;}
.main-block_compare .button.compare-switch.active{background-color: #ffce24;border: 1px solid #ffce24;}
/*СТРАНИЦА ПОИСКА*/
.main-block_search-found .category-list  .category-list__item.active a{color:#ffae00}
.main-block_search-found .result .nav-tab-list{width:100%}
.main-block_search-found .catalog-item.active .catalog-bottom__button.button .catalog__cart-ico{position: relative;display: block;}
.main-block_search-found .catalog-item.active .catalog-bottom__button.button .catalog__cart-ico:before{content:"\e906";position:absolute;top:-18px;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);font:32px/1 'icons';color:#333}
.main-block_search-found .catalog-item.active .catalog-bottom__button.button .catalog__cart-ico:after{content:"\e92b";width:27px;height:21px;padding:0 0 0 5px;position:absolute;top:-19px;left:23px;z-index:1;font:8px/21px 'icons';color:#ffce24}
.main-block_search-found .catalog-item.active .catalog-bottom__button.button{background-color: #fff;width: 65px;margin: 0 auto;}

/* Subscribe in footer */
.popup-subscribe-form{max-width:600px;overflow:hidden;min-height:180px;padding:20px 45px 10px 45px;border-radius:10px}
.popup-subscribe-form .popup__header{font-size:24px;color:#080808;font-weight:300;margin-bottom:30px}
.popup-subscribe-form .popup__line{width:100%;position:absolute;left:0;top:63px;height:1px;background:#ebebeb}
.popup-subscribe-form .popup__content{margin-top:10px;padding:20px 0 40px 0;font-size:16px;color:#000}

/*new slider css*/
.rbs-hor-catalog__list:before, .rbs-hor-catalog__list:after{display: none !important;}
.rbs-hor-catalog__list{white-space: nowrap;overflow: hidden;-webkit-overflow-scrolling: touch;}
.rbs-hor-catalog__list li{display: inline-block;vertical-align:top;width: 250px;white-space: normal;margin-bottom: 10px !important;}
.rbs-hor-catalog__list .video-item:last-child{margin-right: 20px;}
.rbs-hor-catalog__list .service{float:none;}

/*попап корзины в мобилке*/
.popup__add_to_cart{max-width: 310px!important;}
.popup__add_to_cart .popup__main{padding:0;}
.popup__add_to_cart .popup__title{margin:0;padding:45px 55px 25px;border-bottom:none;width:100%;font-size: 16px;text-align: center;}
.popup__add_to_cart .form{text-align: center;}
.popup__add_to_cart .form .button{min-width: 210px;}

/*новый вид каталога*/
.m-sort,
.f-btn
{display: none;}
/*попап логина в мобилке*/

/*media*/
@media(max-width: 1400px){
	.detail-title,.card-main.detail-main-block{padding: 30px 33px 0;}
}
@media (max-width: 1300px){
	/* .card-img-big{width:220px;padding-top:25px;} */
	/* .card-img-big .card-img-big__item img{max-height:290px;} */
	.rbs_quick_view .card-img-big .card-img-big__item img{max-width: 400px;max-height:400px;}
	.popup-detail-gallery .card-main-price, .popup-detail-gallery .card-main-delivery {display: none;}
	div.edost span.edost_format_tariff,div.edost span.edost_format_name,.card-main-delivery-list__price{font-size:13px!important;}
}
@media (max-width:1199px){
	.tab-accessories .rbs-no-aside .catalog-item{width: calc(100% / 4);}
	.header-basket__total:after{font-size:18px;}
	.tab-wrap_card .nav-tab-list__link{font-size: 12px;}

	.main-block_catalog2-2 .catalog__list .catalog-item__content{
		height: auto;
	}
	
	.main-block_catalog2-2 .catalog__list .catalog-item__col{
		height: auto;
	}

	.compfav-block{
		position: static;
		margin: 10px 0;
	}
}
@media (max-width: 1023px){

	.detail-main-block{
		display: block;
	}
	.card-main__cont{
		width: 100%;
	}
	.card-main__img{
		margin: 0 auto;
	}
	.card-main-aside{
		padding-bottom: 10px;
	}
	.access_fix .catalog-image__fix img, .access_fix .catalog-image__fix{
		max-height: 190px;
		height: 200px!important;
		margin-bottom: 10px;
	}
	.tab-accessories .rbs-no-aside .catalog__list_1 {max-width: 100%;}
	.tab-accessories .rbs-no-aside .catalog-item{width: calc(100% / 4);}
	.current-price:after, .header-basket__total:after{font-size: 20px;}	
	.main_cart-open .nav-tab-list{max-width:100%;left:0;}
	.rbs-old-price-list{bottom:48px;}
	.rbs-correct-old-price .rbs-old-price-list{bottom:35px;}
	.rbs-economy-list{bottom: 55px;font-size: 9px;}
	.rbs-economy-list .value, .rbs-economy-list .value:after{font-size:9px;top:0px;}
	.rbs-hor-catalog__list.catalog__list_1{max-width:100%;}
	a.catalog-title__link{max-height:57px;}
	.video-item__title{min-height: 50px;max-height: 50px;}
	.video-item__text{min-height:26px;}
	.seo.rbs-section-description-block{
		display: block;
	}
	.seo.rbs-section-description-block .seo__main-wrap{
		padding: 0;
	}
	.rbs-section-description-block h2{
		font-size: 18px;
	}
	.rbs-section-description-block h3{
		font-size: 16px;
	}
	.yazen{
		float:left;
		left: 15px;
	}
}
@media (max-width: 992px){
	.tab-accessories .rbs-no-aside .catalog-item{width: calc(100% / 3);}
	.rbs-flex-desktop-box .order{margin-right:10px;}
	.main_cart-open .nav-tab-list{max-width: -webkit-calc(100% - 100px);max-width: calc(100% - 100px);left:50px;}
	.popup-accessories h1{max-width: 100%;}
	.rbs-old-price-list{bottom:38px;}
	.rbs-correct-old-price .rbs-old-price-list{bottom:30px;}
	.rbs-economy-list{border:none;bottom:37px;}
	.rbs-correct-old-price .rbs-economy-list{border:1px solid #f85858;}
	.total__btn .button {padding: 0 10px;font-size: 12px;}
	.total_order .total__sum .value{margin: 0;font-size: 20px;display: block;}
	.main-block_order .total__sum span:after{font-size: 20px;}
	.total_order .total__sum{display:block;}
}
@media (max-width:767px){
	.rbs-video-tab{
		flex-flow: column;
	}
	.rbs-video-tab .review-block,.rbs-video-tab .review-block:last-child{
		width: 100%;
		margin: 0;
	}
	.rbs-video-tab .review-block .h2{
		text-align: center;
	}
	.menu-open .main-nav__list{
		padding-top: 50px;
	}
	.rbs-hydrogel-sticker{
		width: 50px;
		height: 50px;
	}
	.fixed-close-btn.fancybox-close-small{position: fixed;z-index: 9999;transform: translate3d(0,0,0);}
	.cart .rbs-hydrogel-sticker{display:none;}
	.menu-open .main-nav_mobile .rbs-close-mob-btn{
		display: flex;
		justify-content: center;
		align-items: center;
		position:absolute;
		top: 10px;
		right: 12px;
		width: 32px;
		height:32px;
	}
	.menu-open .main-nav_mobile .rbs-close-mob-btn:before{		
		content: '\e90a';
		font-family: 'icomoon2'; 
		color: #050505;
		font-size: 14px;
		font-weight: 600;
	}
	.inner-nav{border-left:none;}
	#rbs_breadcrumbs_div{min-height:40px;}
	.rbs-flex-desktop-box, .total__btn_mobile{display: block;} 
	.rbs-video-tab-content{justify-content: center;}
	.popup-accessories{min-height: 100%;}
	.main-nav_mobile .main-nav__link_com + .inner-nav{position: absolute; top: 0;height:auto;}
	.main-nav_mobile>ul.main-nav__list{overflow: hidden;}
	.rbs-basket-hide-mobile .basket-items{overflow: hidden; padding-right: 10px;}
	.rbs-choose-props-sku{text-align: left;}
	.total__btn .button {padding: 0 35px;font-size: 16px;}
	.total_order .total__sum .value{margin-left: 7px;font-size: 26px;display: inline;}
	.main-block_order .total__sum span:after{font-size: 26px;}
	.total_order .total__sum{display:flex;}
	.main-block_search.main-block_catalog2-2 .catalog__list_grid .catalog-title{height:auto;margin-bottom: 10px;}
	.reviews__middle .slick-slider{max-height: inherit;}
	.reviews__col .reviews__bottom-wrap{margin:0;}
	.reviews__bottom{padding: 0;}
	.main-nav__item:last-child{border-bottom: 1px solid #e8e8e8 !important;}
	.rbs-background-li-menu-item, .rbs-background-li-menu-item:hover{background-position: 10px -69px;}
	.rbs-background-li-menu-item a{padding: 14px 27px 14px 58px !important;text-align:left;}
	.popup-accessories .rbs_quick_view .card-img-big__item .card-img-big__img img{max-width: 100%;}
	
	.rbs_quick_view .card-main-aside{right:0;left:0;}
	.rbs-clr-item,.rbs-clr-name{display:block;}
	.rbs-filter-shows{
		display:none;
		position: fixed;
		bottom: 0;
		background: #fff;
		border: 1px solid #e8e8e8;
		width: 100%;
		left: 0;
		margin: 0;
		box-shadow: 0px -1px 10px 0px;
		z-index: 99;
	}
	.reset-filter{padding-bottom:5px;}
	#set_filter{display: inline-block;}
	.rbs-close-filter-btn{display: block;}
	.category.open.rbs-padding-filter{padding-bottom:142px;}
	.catalog-bottom{margin-bottom:10px;}

	.header-top__right{
		position: static;
	}

	.is-your-city{
		padding: 10px;
		box-shadow: none;
		text-align: center;
		background: #efefef;
		/* margin-bottom: 1px; */
	}
	
	/* .is-your-city .location__title, .is-your-city .location__city{
		padding: 0 0 10px;
		margin: 0 5px 0 0;
		font: 600 16px/1.15 'OpenSans', sans-serif;
	} */
	/* .is-your-city .location__button.button{
		height: 40px;
		font: 16px/40px 'Roboto', sans-serif;
	} */

	.footer-fix .city-hide{
		width:100%;
		margin:0;
	}

	.footer-fix .city-hide .cities{
		padding:0;
	}

	.footer-fix .city-hide .cities{
		padding: 17px 0 18px 18px;
	}

	.footer-fix .city-hide .cities__item{
		display: block;
		width:100%;
	}

	.button-favorite:before{
		background-size: 14px;
		background-position: center 8px;
	}
	.button-compare:before{
		background-size: 13px;
	}
}
@media screen and (max-width: 731px){
	.rbs-menu-img{top: 20px;}
	.detail-title{padding: 15px 18px 5px;font:600 16px/1.2 OpenSans,sans-serif;}

	.bread-crumbs_mobile .bread-crambs__item,.bread-crumbs_mobile .bread-crambs__link:before{font-weight:normal;font-size:14px;line-height:16px;color:#959595;}
	.bread-crumbs_mobile .bread-crambs__item a{color:#959595;}
	.bread-crumb__last-item{padding-top:2px;}
	.bread-crumbs_mobile{padding:10px 0;}

	.card-main .card-main__title{position: absolute;top: 0;left:0;width:100%;}
	.card-main h1, .card-main__cont_wait .main-title{font-size: 1.4em;padding: 0;line-height: 24px;padding-left: 20px;padding-top: 18px;max-width: 80%;}
	
	.card-main-desc{margin: 0; max-width: 100%;width:100%;padding:10px 15px 10px}
	.card-main__cont .card-articul {display: none;}
	.card-main__inf{width:100%;}
	.card-main-delivery{position: static;margin: 10px auto 0;}
	.color-list,.color-choice__title{max-width:auto;}
	.color-choice{text-align:left;}
	.rbs-disable-link{display: none;}
	.rbs-garanty-block{margin-top: 20px;margin-bottom: 0;}
	.rbs-ym-block{padding-left: 135px;}
	.rbs-ym-img{left:10px;}
	.wait+.rbs-garanty-block{margin-top: 5px;}

	.other-options{padding: 0 18px;}

	.card-main{position: relative;}
	.card-main__row{position: static;width:100%;padding: 10px 18px 0;margin:0;}
	.card-main__row .reviews-num{position: absolute;right:18px;top:12px;float:none;margin:0;width: 80px;text-align: center;}
	.card-main__row .reviews-num__link{font-size:11px;text-align: right;}
	.card-main__row .rbs-rating{position: absolute;right:0;width:100%;}
	.card-main__row .br-widget a{position: relative;width:15px;}
	.card-main__row .br-widget a:before{position: absolute;right:0;}
	.rbs-rating .rating.rating_big{display:block;position: absolute;right:85px;top:3px;left:auto;margin:0;float:none;-webkit-transform: none;-ms-transform: none;transform:none;}
	.rbs-rating .rating.rating_big .br-wrapper{position: absolute; right:20px;}
	.card-main.detail-main-block{padding: 30px 18px 0;}
	.card-main__inf {
		flex-direction: column-reverse;
	}

	.card-main .catalog-status{
		margin: 0;
	}

	.js-card-img-nav{display:none;}
	.card-main__img{margin-top:20px;}
	.card-img-slider{min-height: 240px;display: block;}
	.card-img-slider .dots-1 .slick-dots{padding:0;}
	.card-img-slider .dots-1 .slick-dots li{padding-top:10px;padding-bottom:20px;}
	.card-img-big{position:static;white-space: nowrap;overflow-y: hidden;overflow-x: scroll;-webkit-overflow-scrolling: touch;padding-left:0;}
	.card-img-big .card-img-big__item{display: inline-block;}
	.card-img-big .card-img-big__item img{max-width:100%;max-height: 100%;}

	.tab-text_desc{padding:0;}
	.tab-text{max-width:100%;}

	.catalog-label{font-size:14px;height:18px;line-height:18px;margin-bottom:10px;}
	.catalog-label:before{font: 12px/18px icons;top: 0;}
	.catalog-label_discount:before{right:4px;}
	
	/* .main-block_catalog2 .sorting{overflow: auto;white-space: nowrap;} */
	select.rbs-sort{
		position: relative;

		width: 200px;
		border-radius: 7px;
		font-size: 14px !important;
		padding: 5px 30px 8px 15px;
		height: 44px;
		
		-webkit-appearance: none;
		background: url('../new_img/svg/arr_sm_dd.svg') no-repeat;
		border-color: #dddddd;

		background-position: 95% 50%;
	}

	.sec-choos-cont{
		position: relative;
	}

	.active-count{
		position: absolute;
		right: 30px;
		top: 12px;
		font-size: 14px;

		width: 40px;
		text-align: center;
		background: #fece24;
		border-radius: 15px;
	}

	.f-search-block{
		align-items: stretch;
	}

	#popup-notify{width:100%;padding:0;}
	.edost.edost_catalogdelivery_inside.card-main-delivery-list{padding-top:0;}
}
@media (max-width: 640px){
	.fancybox-slide--html .fancybox-content{position: relative;}
	.main.main_order{padding: 0;}
	.main-block_order{margin-bottom: 0;}
	.card-img-slider{min-height:240px;}
	.card-img-slider .dots-1 .slick-dots li{padding-top:10px;padding-bottom:20px;}
	.card-img-big{width:100%;}
	.rbs-articul-with-date{position: absolute; right:0;}
	.rbs-old-price-list{bottom:48px;}
	.rbs-correct-old-price .rbs-old-price-list{bottom:45px;}
	.rbs-economy-list{border:1px solid #f85858;bottom:57px;}
	.search-form__button{min-width: 30px;}
	.header-basket__button{z-index: 1;}
	.search-form__cnt{top:0;}
	.header-bottom__right{position: absolute; z-index: 999; right: 0;}
	.search-form__cols{z-index: 1000;}
	.rbs-form-content{width:auto;}
	.card-img-big__item .placeholder{min-height:200px;}
	.rbs-hor-catalog.catalog{padding: 0;}
	.rbs-hor-catalog__list li{padding:0 7px 0 0 !important;width: 210px !important;}
	.rbs-hor-catalog__list li:first-child{padding-left:7px;}
	.rbs-hor-catalog__list .catalog-item__main{max-width:100%;}
	.catalog-button_mob{position: absolute;left: 0;width: 50px;}
	.catalog-button__text:before, .catalog-button_mob:after, .catalog-button_mob:before{left: 10px;}
	.rbs-dblock-detail .card-main-delivery-list__logo{max-width: 19px;}
	.catalog-item__main.custom-item{margin-top:2px!important;}
	.main-block_index .economy{
		padding: 0 5px;
		right: 4px;
		bottom: 52px
	}
	.rbs_quick_view .card-main-desc{width:100%;}
	.rbs_quick_view .card-main__title{display: none;}
	.popup-accessories .card-main__img.count-1, .popup-accessories .card-main__img.count-1 .card-img-big{width:100%;}
}
@media (max-width: 520px){
	.card-main h1,.card-main__cont_wait .main-title{margin:0;text-align: left;max-width: 75%;font-size:1.2em;line-height:20px;}	
	.card-img-big__img{margin:0;}
	.card-img-slider{width:100%;}
	.rbs-modal-img-head{font-size: 1.4em; max-width: 280px;}
	.card-img-slider .catalog-labels{left:0;}
	.popup-detail-gallery .arrows-2 .slick-prev{left: -40px;}
	.popup-detail-gallery .arrows-2 .slick-next{right: -40px;}
	.popup-detail-gallery .arrows-2 .slick-next:before, .popup-detail-gallery .arrows-2 .slick-prev:before{font: 40px/50px 'icons';}
	.popup-detail-gallery .js-slider-detail-modal img{max-height: 400px;}
	.js-slider-detail-modal-nav{width: 300px; left: calc(50% - 150px);}
	.popup-detail-gallery .popup__main{display: block; margin-top: 40px;}
	.popup-detail-gallery .slick-slide{z-index: 1!important;}
	.card-main-price__top{padding: 20px 15px 0;}
	.rbs-old-price-list{bottom:35px;}
	.rbs-hor-catalog__list .rbs-old-price-list, .slick-slide .rbs-old-price-list{bottom:45px;}
	.rbs-economy-list{right:-2px;bottom:55px;}
	.rbs-correct-old-price .rbs-economy-list{bottom:50px;}
	.main-block_catalog2 .box-paging{display: block;}

	.color-list__item{margin-bottom:0;}

	.card-main__row .rating{width:100%;}
	.card-main__row .reviews-num{left:auto;margin:0;width:80px;-webkit-transform:none;transform:none;}
	.card-main__cont{margin-top:-17px;}

	.tab-text_desc{padding:0;}

	.m-sort{
		display: block;
		border: none;
		border-top: 1px solid #e8e8e8;
		margin: 10px -17px 20px;
	}
	.f-btn{
		display: block;
		width: 42px;
		height: 42px;

		background-image: url('../new_img/svg/filtr.svg');
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: contain;
	}

	.result{
		margin-left: 0;
	}

	.search-sections{
		width: 200px;
		margin-bottom: 10px;
	}
	.search-sections span{
		display: inline-block;
		background-color: #fece24;
		padding: 5px 3px;
	}

	/*новый каталог блок в мобилках*/
	.result .catalog__list_1 .catalog-item{
		padding: 0;
		margin: 0;
		display: block;
	}
	
	.main-block_catalog2-2 .catalog-item__main{
		max-width: 100%;
		border: none;
		padding: 0;
		display: flex;
	}
	.main-block_catalog2-2 .catalog-item__main>span{
		position: absolute;
		left: 165px;
    	top: 0;
	}
	.main-block_catalog2-2 .catalog-item__main .catalog-image__fix{
		width: 100%;
	}
	.main-block_catalog2-2 .catalog-item__main .catalog-image{
		width: 160px; 
	}
	.main-block_catalog2-2 .catalog-item__main .catalog-item__content{
		width: calc(100% - 160px);
		padding: 25px 0 0 5px;
		position: relative;
	}
	.main-block_catalog2-2 .catalog__list_grid .rating_big{
		position: absolute;
		top: 85px;
		left: -3px;
	}
	.main-block_catalog2-2 .rbs-old-price-list{
		margin:0;
		top: 103px;
		left: 6px;
	}
	.main-block_catalog2-2 .result .current-price{
		margin-top: 0;
		top: 125px;
		position: absolute;
	}
	.main-block_catalog2-2 .rbs-economy-list{
		top: 81px;
		right: 0;
		transform: none;
		height: 22px;
		font-size: 10px;
		padding: 0 5px;
	}
	.main-block_catalog2-2 .rbs-economy-list .value{
		font-size: 10px;
	}
	.main-block_catalog2-2 .catalog-bottom{
		margin-bottom:0px;
	}
	.main-block_catalog2-2 .catalog-bottom__right{
		display: block;
		position: absolute;
		top: 120px;
		right: 0;
	}
	.main-block_catalog2-2 .catalog-item__main{
		overflow: visible;
		min-height: 170px;
	}
	.main-block_catalog2-2 .button-compare{
		top: -10px;
		right: 0;
	}
	.main-block_catalog2-2 .button-favorite{
		top: -10px;
		right: 35px;
	}
	.catalog-image__fix img{
		max-height: 160px;
	}
	.catalog-item__main:after{
		content: '';
		display: block;

	}

	.catalog__list_1{
		overflow: visible;
	}
}

@media (max-width: 480px){
	.order-step .city_delivery .city-hide{display: none;}
	.header-top-order .header-top__left{padding-top: 11px;}
}
@media(max-width: 413px){
	.main-block_catalog2-2 .catalog-item__main .catalog-image{
		width: 120px;
	}
	.main-block_catalog2-2 .catalog-item__main .catalog-item__content{
		width: calc(100% - 120px);
	}
	.main-block_catalog2-2 .catalog-item__main>span{
		left: 125px;
	}
}
@media (max-width: 375px){
	input, textarea, select {
		font-size: 16px !important;
	}
	.card-main__cont_wait .wait .contacts-form__email .button{min-width:90px;padding:0;}
	.card-main h1{max-width: 68%;}
	.card-main__cont_wait .rbs-rating .rating.rating_big{right: -5px; top: 25px;}
}

@media (max-width: 360px){
	.rbs-ym-block {padding: 30px 10px 10px 10px;}
	.rbs-ym-img{position: static;}
	.rbs-ym-img img{margin:auto;}
	.rbs-ym-block div{text-align: center;}

	.main-block_catalog2-2 .catalog-item__main{
		flex-direction: column;
	}
	.main-block_catalog2-2 .catalog-item__main .catalog-image{
		width: 100%;
	}
	.main-block_catalog2-2 .catalog-item__main .catalog-item__content{
		width: 100%;
	}
	.main-block_catalog2-2 .catalog-item__main>span{
		left: 0;
		z-index: 999;
	}
	.main-block_catalog2-2 .catalog-item__main .catalog-item__content{
		padding: 5px 0 0 5px;
	}
	.main-block_catalog2-2 .catalog__list_grid .rating_big{
		top: 65px;
	}
	.main-block_catalog2-2 .catalog__list_grid .catalog-bottom__left{
		height: 77px;
	}
	.main-block_catalog2-2 .rbs-old-price-list{
		top: 85px;
	}
	.main-block_catalog2-2 .result .current-price{
		top: 105px;
	}
	.main-block_catalog2-2 .rbs-economy-list{
		top: 63px;
	}
	.main-block_catalog2-2 .catalog-bottom__right{
		top: 98px;
	}
}

@media print{
	header, footer, .main-cols__left, #order_form_div .success__box{display: none;}
	#order_form_div, .main-block_order .total__btm{display: block;}
	#order_form_div .total_order{width:100%;}
	.button_print, .jdiv{opacity: 0;}
	.main-block_order-success .total__sum{float:none;margin:0;display: flex;}
	.rbs-order-for-print{display:inline;}
	.for-print{display:block;}
}