.box-tab-cont {
  position: relative;
}
.hide-tab {
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 0;
  overflow: hidden;
  z-index: -1;
  opacity: 0;
}
.contacts-info {
  width: 425px;
  display: inline-block;
  margin-bottom: 18px;
}
.contacts-main {
  width: -webkit-calc(100% - 425px);
  width: calc(100% - 425px);
  padding: 0 0 0 20px;
  float: right;
  display: inline-block;
}
.contacts-map {
  height: 605px;
  border: 15px solid white;
}
.contacts-tabs-list {
  height: 68px;
}
.contacts-tabs-list__item {
  display: inline-block;
  height: 100%;
  background: #ebebeb;
  font-size: 26px;
  font-family: 'RobotoCond', sans-serif;
  font-weight: 400;
  padding: 15px;
  line-height: 1.077;
  letter-spacing: 1px;
  padding: 0;
}
.contacts-tabs-list__item a {
  color: #999999;
  display: block;
  width: 100%;
  height: 100%;
  padding: 25px 26px;
}
.contacts-tabs-list__item.active {
  background: white;
}
.contacts-tabs-list__item.active a {
  color: #333333;
}
.contacts-tabs-list__item:first-child {
  width: 168px;
  float: left;
}
.contacts-tabs-list__item:nth-child(2) {
  width: -webkit-calc(100% - 168px);
  width: calc(100% - 168px);
  float: right;
}
.contacts-info {
  background: white;
}
.contact-page:after {
  content: "";
  clear: both;
}
.contacts__item-location {
  position: relative;
}
.contacts__item-location::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  background-image: url(../img/contacts/map.svg);
  -webkit-background-size: contain;
          background-size: contain;
  left: -26px;
  top: 2px;
  background-repeat: no-repeat;
}
.contacts__item-time {
  position: relative;
}
.contacts__item-time::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  background-image: url(../img/contacts/clock.svg);
  -webkit-background-size: contain;
          background-size: contain;
  left: -28px;
  top: 2px;
  background-repeat: no-repeat;
}
.contacts-tabs-cont__title {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  padding: 25px 0px 22px 40px;
  letter-spacing: 0px;
}
.contacts-tabs-cont__title_second {
  padding: 17px 0px 22px 40px;
}
.contacts-tabs-cont__item {
  padding: 0 23px 25px;
}
.contacts__subtitle {
  font-family: 'OpenSans', sans-serif;
  font-weight: 600;
  color: #333333;
  font-size: 13px;
  padding-left: 38px;
}
.contacts__subtitle-service {
  padding-bottom: 3px;
  position: relative;
}
.contacts__subtitle-service::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  background-image: url(../img/contacts/phone.svg);
  -webkit-background-size: contain;
          background-size: contain;
  left: 7px;
  top: 22px;
  background-repeat: no-repeat;
}
.contacts__phones-number {
  font-size: 16px;
}
.contacts__courier-phone {
  padding-left: 38px;
  color: #333333;
}
.contacts__phones_sales {
  padding-bottom: 7px;
}
.contacts__list,
.contacts__phones-list {
  font-size: 13px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  padding-left: 38px;
}
.contacts__list li,
.contacts__phones-list li {
  color: #999;
  line-height: 27px;
  letter-spacing: 0px;
}
.contacts__list li span,
.contacts__phones-list li span {
  color: #333;
  font-weight: 600;
}
.contacts__list li .contacts__phones-number,
.contacts__phones-list li .contacts__phones-number {
  font-weight: 400;
}
.contacts__phones-list {
  margin-top: 3px;
  padding-bottom: 15px;
  position: relative;
}
.contacts__phones-list-marker::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  background-image: url(../img/contacts/phone.svg);
  -webkit-background-size: contain;
          background-size: contain;
  left: 7px;
  top: 9px;
  background-repeat: no-repeat;
}
.contacts__phones-list li {
  line-height: 24px;
}
.contacts__phones-number {
  font-weight: 400;
  font-size: 16px;
}
.contacts__subtitle_courier {
  padding-bottom: 8px;
  position: relative;
}
.contacts__subtitle_courier::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  background-image: url(../img/contacts/phone.svg);
  -webkit-background-size: contain;
          background-size: contain;
  left: 7px;
  top: 25px;
  background-repeat: no-repeat;
}
.contacts__subtitle_email {
  padding-bottom: 0;
  padding-bottom: 5px;
}
.contacts__email {
  padding-left: 38px;
  position: relative;
}
.contacts__email::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  background-image: url(../img/contacts/mail.svg);
  -webkit-background-size: contain;
          background-size: contain;
  left: 7px;
  top: 0;
  background-repeat: no-repeat;
}
.contacts-line {
  height: 1px;
  width: 100%;
  background: #e8e8e8;
}
.contacts__tax-info {
  padding-top: 16px;
  line-height: 22px;
  font-size: 13px;
  padding-left: 38px;
}
.subscribe-contacts {
  width: 100%;
}
.contacts-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 71px;
  margin-top: 20px;
}
.contacts-social__item {
  background-color: #999999;
  width: 30px;
  height: 30px;
  display: block;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.contacts-social__item:hover {
  background-color: #ffce24;
}
.contacts-social__item_vk::before {
  content: "";
  width: 19px;
  height: 19px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../img/svg/social/vk.svg");
  -webkit-background-size: 100% 100%;
          background-size: 100%;
}
.contacts-social__item_inst::before {
  content: "";
  width: 19px;
  height: 19px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../img/svg/social/instagram.svg");
  -webkit-background-size: 100% 100%;
          background-size: 100%;
}
.contacts-social__item_youtube::before {
  content: "";
  width: 19px;
  height: 19px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../img/svg/social/youtube.svg");
  -webkit-background-size: 100% 100%;
          background-size: 100%;
}
.contacts-social__item_ok::before {
  content: "";
  width: 19px;
  height: 19px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../img/svg/social/odnoklassniki.svg");
  -webkit-background-size: 100% 100%;
          background-size: 100%;
}
.contacts-form__email,
.contacts-form__username,
.contacts-form__text,
.contacts-form__captcha {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contacts__label {
  font-family: 'OpenSans';
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  padding: 19px 0 7px 32px;
}
.contacts__label_email {
  padding-top: 12px;
}
.contacts__label_captcha {
  padding: 18px 0 7px 32px;
  font-size: 13px;
}
.contacts__textarea {
  border: 1px solid #dddddd;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  margin: 0 15px;
}
.contacts__input {
  height: 40px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  border: 1px solid #dddddd;
  padding-left: 18px;
  font-family: 'OpenSans';
  font-weight: 400;
  font-size: 13px;
  margin: -2px 14px 0;
}
.contacts__input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #cccccc;
}
.contacts__input::-moz-placeholder {
  /* Firefox 19+ */
  color: #cccccc;
}
.contacts__input:-ms-input-placeholder {
  /* IE 10+ */
  color: #cccccc;
}
.contacts__input:-moz-placeholder {
  /* Firefox 18- */
  color: #cccccc;
}
.contacts__input:focus {
  border-color: #333;
}
.contacts-form__captcha-input {
  margin-top: 9px;
  margin-bottom: 21px;
}
.contacts__textarea {
  font-family: 'OpenSans';
  font-weight: 400;
  font-size: 14px;
  padding: 18px 17px;
}
.contacts__textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #cccccc;
}
.contacts__textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #cccccc;
}
.contacts__textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #cccccc;
}
.contacts__textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #cccccc;
}
.contacts__textarea:focus {
  border-color: #333;
}
.contacts-form__captcha-image {
  border: 1px solid;
  width: 150px;
  height: 34px;
  overflow: hidden;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  margin-left: 34px;
}
.contacts-form__button {
  background: #ffce24;
  font-family: 'OpenSans';
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  width: 222px;
  height: 43px;
  -webkit-border-radius: 24px;
          border-radius: 24px;
  margin: 0 auto;
  display: block;
}
.contacts-form__button:hover {
  background-color: #ffae00;
}
/*======================================================================
                        Personal Account
======================================================================*/
.account-page-title {
  padding: 0px 0 24px;
  margin-top: -5px;
}
.personal-account {
  background-color: #fff;
  width: 275px;
  display: inline-block;
  margin-bottom: 18px;
  float: left;
}
.personal-account-user {
  text-align: center;
  padding-bottom: 26px;
}
.personal-account-user img {
  display: inline-block;
  margin-top: 29px;
  margin-bottom: 8px;
}
.personal-account-user .user-name {
  font-weight: bold;
  color: #333;
}
.personal-account-user .user-email {
  margin-top: 2px;
}
.personal-account-list {
  padding: 0;
}
.personal-account-list__link {
  display: block;
  padding: 7.5px 15px;
}
.personal-account-list__item {
  background-color: #525252;
  border-bottom: 1px solid #464646;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.personal-account-list__item:hover span,
.personal-account-list__item:hover .personal-account-list__icon {
  color: #ffce24;
}
.personal-account-list__item.active {
  background-color: #ffce24;
}
.personal-account-list__item.active .personal-account-list__icon {
  color: #333;
}
.personal-account-list__item.active span {
  text-shadow: 0 0;
  color: #333;
}
.personal-account-list__item.active:hover .personal-account-list__link {
  color: #333;
}
.personal-account-list__item:first-child {
  border-top: none;
}
.personal-account-list__item:last-child {
  border-bottom: none;
}
.personal-account-list__icon {
  font-style: normal;
  font-size: 20px;
  color: #999;
  display: inline-block;
  width: 31px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.personal-account-list__icon i {
  font-style: normal;
}
.personal-account-list span {
  vertical-align: text-bottom;
  padding-left: 10px;
  color: white;
  font-family: 'Roboto', sans-serif;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.personal-account-main {
  width: -webkit-calc(100% - 275px);
  width: calc(100% - 275px);
  padding: 0 0 0 17px;
  float: right;
  display: inline-block;
  min-height: 456px;
  margin-bottom: 150px;
}
.personal-account-main .main-list {
  width: 100%;
  height: 456px;
  padding: 0 41px;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.personal-account-main .main-list__item {
  border: 1px solid #e8e8e8;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  height: 380px;
  width: 23.5%;
  display: block;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.personal-account-main .main-list__item:hover {
  border: 2px solid #ffce24;
  -webkit-box-shadow: 0 14px 18px rgba(86, 117, 145, 0.16);
          box-shadow: 0 14px 18px rgba(86, 117, 145, 0.16);
}
.personal-account-main .main-list__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.personal-account-main .main-list__icon {
  font-style: normal;
  font-size: 30px;
  color: #333;
  display: block;
  padding-bottom: 8px;
  text-align: center;
}
.personal-account-main .main-list__icon i {
  font-style: normal;
}
.personal-account-main .main-list p {
  font-family: 'OpenSans', sans-serif;
  text-shadow: 0 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #333;
  display: block;
  text-align: center;
}
/*======================================================================
                        Personal Data
======================================================================*/
.personal-account-main .main-data {
  width: 100%;
  min-height: 456px;
  background-color: #fff;
  padding: 36px 39px;
}
/*======================================================================
                        Personal Settings
======================================================================*/
.personal-account-main .main-settings {
  width: 100%;
  min-height: 456px;
  background-color: #fff;
  padding: 36px 39px;
}
.personal-account-main .main-settings__checkboxes {
  padding: 13px 2px;
}
.personal-account-main .main-settings label {
  color: #333;
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-shadow: 0 0;
}
.personal-account-main .main-settings .checkbox {
  padding: 0 0 12px 32px;
}
.personal-account-main .main-settings .checkbox-dispatch {
  margin: 0 -41px;
  padding: 24px 0px 1px 74px;
  background-color: #e8e8e8;
}
.personal-account-main .main-settings .checkbox-dispatch .checkbox {
  padding: 0 0 0 32px;
  margin: 0 0 20px 0;
}
.personal-account-main .main-settings .checkbox-dispatch .checkbox-desc {
  color: #999;
  font-family: "Myriad Pro", sans-serif;
  font-size: 13px;
  font-weight: 400;
  padding-top: 6px;
  letter-spacing: 0;
}
/*======================================================================
                        Personal Subscribe
======================================================================*/
.personal-account-main_mb {
  margin-bottom: 50px;
}
.personal-account-main .main-subscribe {
  width: 100%;
  min-height: 456px;
  background-color: #fff;
  padding: 36px 39px 24px 39px;
}
.personal-account-main .main-subscribe__title {
  color: #333;
  font-family: 'OpenSans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-shadow: 0 0;
}
.personal-account-main .main-subscribe__subtitle {
  color: #999;
  font-family: "Myriad Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  max-width: 1000px;
}
.personal-account-main .table-list {
  padding-top: 23px;
  display: table;
  width: 100%;
}
.personal-account-main .table-list__item {
  display: table-row;
}
.personal-account-main .table-list__item:first-child {
  background-color: #e8e8e8;
}
.personal-account-main .table-list__item:first-child .col {
  text-align: center;
  line-height: 40px;
  color: #333;
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid white;
}
.personal-account-main .table-list__item:first-child .col:first-child {
  text-align: left;
  padding-left: 20px;
}
.personal-account-main .table-list__item .col {
  display: table-cell;
  border-bottom: 1px solid #e8e8e8;
  vertical-align: middle;
}
.personal-account-main .table-list__item .col_1 {
  width: 38.1%;
}
.personal-account-main .table-list__item .col_2 {
  width: 20.8%;
}
.personal-account-main .table-list__item .col_3 {
  width: 20.8%;
}
.personal-account-main .table-list__item .col_4 {
  width: 21.3%;
  text-align: center;
}
.personal-account-main .table-list__item .product-img {
  display: inline-block;
  float: left;
  padding-top: 20px;
  padding-bottom: 23px;
  width: 73px;
}
.personal-account-main .table-list__item .product-img img {
  height: 70px;
  margin: 0 auto;
}
.personal-account-main .table-list__item .product-name {
  display: inline-block;
  float: left;
  width: -webkit-calc(100% - 73px);
  width: calc(100% - 73px);
  color: #333;
  font-family: 'OpenSans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  padding-left: 14px;
  padding-top: 25px;
}
.personal-account-main .table-list__item .product-name span {
  border-bottom: 1px solid transparent;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.personal-account-main .table-list__item .product-name span:hover {
  cursor: pointer;
  border-bottom: 1px solid #333;
}
.personal-account-main .table-list__item .product-price {
  display: inline-block;
  float: left;
  width: -webkit-calc(100% - 73px);
  width: calc(100% - 73px);
  padding-top: 6px;
  padding-left: 14px;
}
.personal-account-main .table-list__item .product-price__title {
  color: #999;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}
.personal-account-main .table-list__item .product-price__value {
  color: #333;
  font-family: 'OpenSans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
.personal-account-main .table-list__item .product-price__icon {
  font-size: 11px;
  color: #333;
  text-shadow: 0 0;
  padding-left: 5px;
}
.personal-account-main .table-list__item .product-price__icon i {
  font-style: normal;
}
.personal-account-main .table-list__item .date {
  text-align: center;
  color: #999;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}
.personal-account-main .table-list__item .email-title,
.personal-account-main .table-list__item .email-value,
.personal-account-main .table-list__item .action-value {
  color: #999;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding-bottom: 4px;
  text-align: center;
}
.personal-account-main .table-list__item .email-value {
  color: #333;
}
.personal-account-main .table-list__item .action-icon {
  display: inline-block;
  padding-left: 9px;
  color: #999;
  font-size: 15px;
}
.personal-account-main .table-list__item .action-icon i {
  font-style: normal;
}
.personal-account-main .table-list__item .action-value {
  display: inline-block;
  padding-left: 5px;
}
@media screen and (max-width: 1200px) {
  .personal-account-main .main-subscribe .table-list__item .col .product-name {
    font-size: 16px;
    padding-top: 15px;
  }
  .personal-account-main .main-subscribe .table-list__item .col .date,
  .personal-account-main .main-subscribe .table-list__item .col .email-value,
  .personal-account-main .main-subscribe .table-list__item .col .action-value {
    font-size: 12px;
  }
}
/*======================================================================
                        Personal Orders
======================================================================*/
.personal-account-main .main-orders {
  width: 100%;
  min-height: 456px;
  background-color: #fff;
  padding: 36px 73px 4px 39px;
}
.personal-account-main .main-orders__title {
  color: #333;
  font-family: 'OpenSans', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 19px;
  text-shadow: 0 0;
}
.personal-account-main .main-orders__subtitle {
  letter-spacing: 0.5px;
  font-family: 'OpenSans', sans-serif;
  color: #999;
}
.personal-account-main .main-orders__subtitle a {
  color: #069;
  font-weight: bold;
  border-bottom: 1px solid #069;
}
.personal-account-main .main-orders__subtitle a:hover {
  border-bottom-color: transparent;
}
.personal-account-main .main-orders__subtitle a[href^="tel:"] {
  color: #999;
  font-weight: normal;
  border-bottom-color: transparent;
}
.personal-account-main .main-orders .box-field {
  margin: 18px 0;
}
.personal-account-main .main-orders .box-field .box-field__label {
  display: inline-block;
  float: left;
  padding-top: 10px;
  color: #333;
  font-family: 'OpenSans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-shadow: 0 0;
  letter-spacing: 0px;
  min-width: 180px;
}
.personal-account-main .main-orders .box-field .box-field__input {
  display: inline-block;
  float: left;
  padding-left: 13px;
}
.personal-account-main .main-orders .box-field .box-field__input-type {
  width: 335px;
  height: 32px;
  background-color: white;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  color: #999;
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  padding-left: 10px;
}
.personal-account-main .main-orders .box-field .box-field__input-type:hover {
  cursor: pointer;
}
.personal-account-main .main-orders .box-field .jq-selectbox__trigger {
  display: block;
  font-size: 12px;
  font-family: 'icons';
  position: absolute;
  top: 1px;
  right: 13px;
  width: auto;
  height: auto;
  color: #999;
  font-weight: bold;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.personal-account-main .main-orders .box-field .jq-selectbox__trigger::before {
  content: "\e924";
}
.personal-account-main .main-orders .box-field .jq-selectbox__dropdown {
  position: absolute;
  height: auto;
  width: 335px;
  bottom: auto!important;
  top: 30px!important;
  left: -1px;
  border: 1px solid #ddd;
  outline: none;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: white;
}
.personal-account-main .main-orders .box-field .jq-selectbox__dropdown .jq-scroll {
  padding-bottom: 0;
}
.personal-account-main .main-orders .box-field .jq-selectbox__dropdown .option-text {
  padding: 3px 10px;
}
.personal-account-main .main-orders .box-field .jq-selectbox__dropdown .option-text:hover {
  background-color: #ddd;
}
.personal-account-main .main-orders__list {
  padding: 0 0 11px;
}
.personal-account-main .main-orders__list .main-orders__item {
  border: 1px solid #e8e8e8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.personal-account-main .main-orders__list .order-status {
  width: 230px;
  min-height: 219px;
  background-color: #e8e8e8;
  padding: 15px 22px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.personal-account-main .main-orders__list .order-status__bottom {
  padding-bottom: 3px;
}
.personal-account-main .main-orders__list .order-status__number,
.personal-account-main .main-orders__list .order-status__date {
  font-family: 'OpenSans', sans-serif;
  font-size: 18px;
  color: #333;
  font-weight: 400;
}
.personal-account-main .main-orders__list .order-status__number a,
.personal-account-main .main-orders__list .order-status__date a {
  color: #069;
  font-weight: 600;
}
.personal-account-main .main-orders__list .order-status__text,
.personal-account-main .main-orders__list .order-status__value {
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-shadow: 0 0;
  line-height: 22px;
  color: #333;
  letter-spacing: -0.1px;
}
.personal-account-main .main-orders__list .order-status__value {
  color: #999;
}
.personal-account-main .main-orders__list .order-info {
  width: -webkit-calc(100% - 230px);
  width: calc(100% - 230px);
  min-height: 219px;
}
.personal-account-main .main-orders__list .order-info__list {
  width: 100%;
  padding: 16px 29px;
}
.personal-account-main .main-orders__list .order-info__item {
  width: 100%;
  float: left;
  padding: 6px 0;
}
.personal-account-main .main-orders__list .order-info__text {
  min-width: 152px;
  display: inline-block;
  float: left;
  color: #999;
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.personal-account-main .main-orders__list .order-info__value {
  display: inline-block;
  width: -webkit-calc(100% - 152px);
  width: calc(100% - 152px);
  float: left;
  font-family: 'OpenSans' sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333;
  text-shadow: 0 0;
  letter-spacing: 0;
}
.personal-account-main .main-orders__list .order-info__value strong {
  display: inline-block;
  float: left;
  padding-right: 5px;
}
.personal-account-main .main-orders__list .order-info__value .icon {
  font-size: 10px;
}
.personal-account-main .main-orders__list .order-info__value .icon i {
  font-style: normal;
}
.personal-account-main .main-orders__list .order-info__value a {
  color: #069;
  border-bottom: 1px solid #069;
  text-shadow: 0 0;
  margin: 10px 0 0;
  letter-spacing: .2px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.personal-account-main .main-orders__list .order-info__value a:hover {
  border-bottom-color: transparent;
}
.personal-account-main .main-orders .box-paging {
  padding-top: 18px;
}
@media screen and (max-width: 1200px) {
  .personal-account-main .main-orders__list .order-info__value a {
    margin-left: 0;
  }
  .personal-account-main .main-orders {
    width: 100%;
    min-height: 456px;
    background-color: #fff;
    padding: 36px 73px 4px 39px;
  }
}
/*======================================================================
                        Personal Data
======================================================================*/
.personal-account-main .main-data {
  width: 100%;
  min-height: 456px;
  background-color: #fff;
  padding: 36px 73px 4px 39px;
}
.personal-account-main .main-data__title {
  font-size: 18px;
  padding: 0 0 13px;
}
.personal-account-main .box-field__label {
  color: #999;
  font-size: 14px;
  font-weight: 400;
  line-height: 62px;
  display: inline-block;
  min-width: 275px;
}
.personal-account-main .box-field__input {
  display: inline-block;
}
.personal-account-main .box-field__input .input {
  min-width: 240px;
  padding: 0 19px;
  margin: 0 0 8px;
  display: inline-block;
}
.personal-account-main .box-field__input .input:disabled {
  border: none;
  padding: 0;
  color: #333;
  font-weight: 600;
  width: 200px;
  min-width: 200px;
  display: none;
}
.personal-account-main .box-field__input .input:disabled + .input-buffer {
  display: inline-block;
  color: #333;
  padding-right: 15px;
  text-shadow: 0 0;
}
.personal-account-main .box-field__input .input-date:disabled {
  width: 90px;
  min-width: 90px;
}
.personal-account-main .box-field__input .input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #333;
}
.personal-account-main .box-field__input .input::-moz-placeholder {
  /* Firefox 19+ */
  color: #333;
}
.personal-account-main .box-field__input .input:-ms-input-placeholder {
  /* IE 10+ */
  color: #333;
}
.personal-account-main .box-field__input .input::-ms-input-placeholder {
  /* Firefox 18- */
  color: #333;
}
.personal-account-main .box-field__input .input::placeholder {
  /* Firefox 18- */
  color: #333;
}
.personal-account-main .box-field__input .mask-phone {
  font-weight: bold;
}
.personal-account-main .box-field .box-field__input .input:disabled{
  display: inline-block;
}
.personal-account-main .box-field .input-date {
  position: relative;
}
.personal-account-main .box-field .input-date::after {
  content: "";
  display: block;
  position: absolute;
  top: 40%;
  right: 20%;
  background-image: url("../img/personal-account/datepicker.svg");
  background-color: green;
  width: 20px;
  height: 20px;
}
.personal-account-main .box-field__icon {
  border: 1px solid #c6c6c6;
  font-size: 12px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  color: #999;
  display: inline-block;
  position: relative;
  width: 28px;
  height: 28px;
  top: 7px;
}
.personal-account-main .box-field__icon i {
  font-style: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.personal-account-main_data,
.personal-account_data {
  /*margin-bottom: 4px;*/
  margin-bottom: 22px;
}
.popup-password {
  width: 427px;
  display: none;
}
.popup-password .popup-main {
  padding: 50px 33px 10px;
}
.popup-password .popup__title {
  border-bottom: none;
  margin: 0 0 17px;
  padding: 0 0 0px;
}
.popup-password .input {
  margin: 0 0 13px;
}
.popup-password .button {
  padding-left: 32px;
  padding-right: 32px;
}
.popup-password .cancel {
  color: #999;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 400;
  display: inline-block;
  margin-left: 20px;
}
.popup-credit {
  width: 337px;
  display: none;
}
.popup-credit .popup__main {
  padding: 30px 40px 16px;
}
.popup-credit .fancybox-close-small {
  top: 9px;
  right: 10px;
}
.popup-credit .popup__title {
  border-bottom: none;
  margin: 0 0 11px;
  padding: 0 0 0px;
  text-align: center;
}
.popup-credit .button {
  width: 100%;
  max-width: 350px;
  margin-bottom: 16px;
}
.popup-credit .input {
  margin: 0 0 11px;
  padding: 5px 19px 4px;
}
.popup-credit p {
  text-align: center;
  color: #999;
  font-family: 'OpenSans', sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 14px;
  padding: 0;
  letter-spacing: -0.2px;
}
.popup-fast-order {
  width: 337px;
  display: none;
}
.popup-fast-order .popup__main {
  padding: 30px 40px 26px;
}
.popup-fast-order .fancybox-close-small {
  top: 9px;
  right: 10px;
}
.popup-fast-order .popup__title {
  border-bottom: none;
  margin: 0 0 15px;
  padding: 0 0 0px;
  text-align: center;
}
.popup-fast-order .input {
  margin: 0 0 14px;
}
.popup-fast-order .button {
  width: 100%;
  max-width: 350px;
  margin-bottom: 16px;
}
.popup-fast-order p {
  text-align: center;
  color: #999;
  font-family: 'OpenSans', sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 14px;
  padding: 0;
  letter-spacing: -0.2px;
}
.ui-widget.ui-widget-content {
  margin-top: 10px;
  height: auto;
  -webkit-box-shadow: 0 4px 18px rgba(51, 51, 51, 0.16);
          box-shadow: 0 4px 18px rgba(51, 51, 51, 0.16);
  margin-left: 0;
  width: auto;
  max-width: 410px;
  -webkit-border-radius: 0px;
          border-radius: 0px;
  background-color: #fff;
  padding: 0 11px 24px;
}
.ui-datepicker table {
  background-color: #fff;
  font-family: 'OpenSans', sans-serif;
}
.ui-datepicker .ui-datepicker-header {
  position: relative;
  font-weight: 400;
  background: #fff;
  width: auto;
  padding: 1.3em 0 5px;
  border: none;
  color: #999;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: none;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  display: block;
  font-size: 12px;
  background-image: none;
  font-family: 'icons';
  position: absolute;
  color: #999;
  font-weight: bold;
}
.ui-datepicker .ui-datepicker-prev::before,
.ui-datepicker .ui-datepicker-next::before {
  content: "\e924";
}
.ui-datepicker .ui-datepicker-prev:hover,
.ui-datepicker .ui-datepicker-next:hover {
  border: none;
  background: #fff;
  cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  top: 16px;
  left: -10px;
}
.ui-datepicker .ui-datepicker-next {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  top: 22px;
  right: -3px;
}
.ui-widget-content .ui-state-disabled {
  opacity: 1;
}
.ui-widget-content .ui-state-disabled .ui-state-default {
  color: #999;
}
.ui-widget-content .ui-state-default {
  background: none;
  border: none;
  font-family: 'OpenSans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  width: 32px;
  height: 32px;
  line-height: 28px;
  padding-left: 3px;
  text-align: center;
  text-shadow: 0 0;
  margin-left: 8px;
  color: #333;
}
.ui-widget-content .ui-state-active {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #ffce24;
}
.ui-widget-content .ui-state-active:hover {
  color: #333;
}
.ui-datepicker th {
  color: #999;
  font-weight: 400;
  border-bottom: 1px solid #e8e8e8;
  padding: 1em .3em 0.5em;
}
.ui-datepicker-calendar tr a {
  margin: 7px 9px;
}
@media screen and (max-width: 1200px) {
  .personal-account-main .main-orders {
    padding: 36px 20px 4px 20px;
  }
}
@media screen and (max-width: 1023px) {
  .contacts-info,
  .contacts-main {
    width: 50%;
  }
  .contacts-tabs-list__item {
    font-size: 22px;
  }
}
@media screen and (max-width: 992px) {
  .personal-account {
    width: 100%;
  }
  .personal-account-main {
    width: 100%;
    padding: 0;
  }
  .contacts-info {
    width: 100%;
  }
  .contacts-social {
    max-width: 50%;
  }
  .contacts-main {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }
  .personal-account-main .main-list {
    padding-top: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: stretch;
    -webkit-justify-content: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }
  .personal-account-main .main-list__item {
    height: 60px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 5px 0;
    width: 100%;
  }
  .personal-account-main .main-list__icon {
    font-size: 22px;
    padding-bottom: 0;
  }
  .personal-account-main .main-list p {
    padding: 0;
  }
  .personal-account-main .main-subscribe {
    padding: 36px 20px 24px 20px;
  }
}
@media screen and (max-width: 769px) {
  .personal-account-main .main-orders__list .order-status {
    width: 190px;
    padding: 15px 15px;
  }
  .personal-account-main .main-orders__list .order-info {
    width: -webkit-calc(100% - 190px);
    width: calc(100% - 190px);
  }
  .personal-account-main_data .box-field__label {
    min-width: 240px;
  }
  .personal-account-main .main-subscribe {
    padding: 36px 20px 24px 20px;
  }
  /*popups*/
  .header-actions .basket-hide {
    right: -80px;
  }
  .popup-fast-order,
  .popup-credit {
    position: absolute;
    left: 0;
    top: 250px;
    right: 0;
    margin: 0 auto;
  }
  .popup-credit {
    top: 200px;
  }
  .header-top__right .city-hide {
    right: -216px;
    top: 90px;
  }
  .fancybox-slide--html .fancybox-content {
    max-width: 730px;
  }
  .socials-1 {
    right: 105px!important;
    margin-top: -7px !important;
    padding-bottom: 62px!important;
  }
  .socials-1 {
    position: absolute;
    top: 0;
    right: 150px;
    border-top: none;
    border-left: 1px solid #ddd;
    margin-top: -12px;
    padding-bottom: 72px;
  }
  .socials-1__list {
    padding: 5px 5px 10px;
  }
  .socials-1__item {
    margin: 0 15px 8px 0;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
  .contacts-map {
    height: 400px;
  }
}
@media screen and (max-width: 767px) {
  .popup-fast-order,
  .popup-credit {
    width: 100%;
    position: fixed;
    top: 0;
    height: 100%;
  }
  .fancybox-slide--html .popup-fast-order.fancybox-content,
  .fancybox-slide--html .popup-credit.fancybox-content {
    max-width: 100%;
  }
  .popup-credit .popup__title,
  .popup-credit p,
  .popup-fast-order .popup__title,
  .popup-fast-order p {
    text-align: left;
  }
}
@media screen and (max-width: 731px) {
  .socials-1 {
    position: relative;
    border-left: none;
    padding: 16px 0 0 0;
    top: auto;
    left: auto;
    right: auto!important;
  }
  .socials-1:before {
    content: '';
    width: -webkit-calc(100% + 30px);
    width: calc(100% + 30px);
    top: 2px;
    display: block;
    position: absolute;
    height: 1px;
    background-color: #e9e9e9;
    left: -15px;
  }
  .socials-1__item {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    margin: 0 6.5px 8px 0;
  }
  .fancybox-slide--html {
    padding: 0;
  }
  .login-form {
    padding: 0 18px 13px 22px;
  }
  .login-form__button {
    min-width: 160px;
  }
  .login-form .checkbox {
    margin: 0 0 21px 0px;
    padding: 4px 0 0 27px;
    font: 13px/15px 'OpenSans', sans-serif;
  }
  .login-form .input {
    margin: 0 0 10px;
  }
  .login-form__button {
    margin: 0px 0 19px;
  }
  .socials-1__title {
    padding: 0 0 13px;
  }
  .socials-1__list {
    padding: 0px 5px 10px;
  }
  .login-form form .input:nth-child(2) {
    margin-bottom: 20px;
  }
  .popup-tabs {
    margin: 0 0 19px;
  }
  .popup_mobile-sign .login-form form .input:nth-child(2) {
    margin-bottom: 9px;
  }
  .popup_mobile-sign .socials-1 {
    padding: 36px 0 0 0;
  }
  .popup_mobile-sign .socials-1:before {
    top: 21px;
  }
  .login-hide__buttons {
    display: none;
  }
  .login-hide__buttons_mobile {
    display: block;
  }
  .popup__head {
    background-color: #303030;
    padding: 12px 10px 16px 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .popup__head-txt {
    color: #ffce24;
    font-size: 15px;
    letter-spacing: 0.2px;
    position: relative;
    left: -50%;
    -webkit-transform: translateX(48%);
        -ms-transform: translateX(48%);
            transform: translateX(48%);
  }
  .popup__head-link {
    display: block;
    background-image: url('../img/arrow-back.png');
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    /* position: relative; */
    /* left: -10px; */
    width: 20px;
    /* max-height: 2px; */
    margin-right: 16px;
  }
  .popup_mobile .fancybox-close-small {
    background-color: transparent;
    color: #ffce24;
    top: 8px;
    right: 12px;
  }
  .popup_mobile .fancybox-close-small:before {
    font-size: 15px;
  }
  .popup_mobile .login-form {
    padding: 19px 18px 13px 22px;
  }
  /*personal-subscribe*/
  .table-list-wrap {
    overflow: auto;
    white-space: nowrap;
  }
  .personal-account-main .table-list__item .col_1,
  .personal-account-main .table-list__item .col_2,
  .personal-account-main .table-list__item .col_3,
  .personal-account-main .table-list__item .col_4 {
    width: 100%;
  }
  .personal-account-main .table-list__item .col_1 {
    min-width: 250px;
  }
  .personal-account-main .table-list__item .col_2,
  .personal-account-main .table-list__item .col_3,
  .personal-account-main .table-list__item .col_4 {
    min-width: 200px;
  }
  .personal-account-main .main-subscribe .table-list__item .col .product-name {
    max-width: 150px;
    white-space: normal;
  }
}
@media screen and (max-width: 640px) {
  .personal-account-main .main-orders__list .main-orders__item {
    display: block;
  }
  .personal-account-main .main-orders__list .order-status,
  .personal-account-main .main-orders__list .order-info {
    width: 100%;
  }
  .personal-account-main .main-orders__list .order-status {
    min-height: auto;
  }
  .personal-account-main .main-orders__list .order-status__bottom {
    margin-top: 10px;
  }
  .personal-account-main .main-data {
    padding: 36px 40px 4px 39px;
  }
  .personal-account-main_data .box-field__label {
    min-width: 175px;
  }
  .contacts-map {
    height: 300px;
  }
  .contacts-social {
    max-width: 300px;
  }
  .popup-answer.fancybox-content {
    max-width: 100%;
  }
  .personal-account {
    width: 100%;
  }
  .personal-account-main {
    width: 100%;
    padding: 0;
  }
  .personal-account-main .main-list {
    padding: 20px;
  }
  .personal-account-main {
    min-height: auto;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 520px) {
  .personal-account-main .main-data {
    padding: 36px 20px 4px 20px;
  }
}
@media screen and (max-width: 480px) {
  .personal-account-main .main-orders .box-field .box-field__input {
    padding-left: 0;
    width: 100%;
    margin-top: 10px;
  }
  .personal-account-main .main-orders .box-field .box-field__input-type,
  .personal-account-main .main-orders .box-field .jq-selectbox__dropdown{
    width: 100%;
  }
  .personal-account-main .main-orders__list .order-info__list {
    display: block;
    float: left;
    padding: 16px 10px;
  }
  .personal-account-main .main-orders__list .order-info__text {
    min-width: 100%;
  }
  .personal-account-main .main-orders__list .order-info__value {
    width: 100%;
  }
  .personal-account-main_mb .paging-list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .personal-account-main_data .box-field__label {
    min-width: 100%;
  }
  .personal-account-main_data .box-field__input {
    display: block;
  }
  .personal-account-main_data .box-field__input .input {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
  }
  /*.personal-account-main_data .box-field__input_inl {
    display: inline-block;
  }*/
  .personal-account-main .main-settings {
    padding: 36px 20px;
  }
  .personal-account-main .main-settings .checkbox-dispatch {
    margin: 0 -22px;
    padding: 24px 0px 1px 52px;
  }
  .personal-account-main .main-settings .checkbox-dispatch .checkbox {
    padding: 0 5px 0 32px;
  }
}
@media screen and (max-width: 380px) {
  /*popups*/
  .popup-fast-order,
  .popup-credit {
    top: 145px;
    width: 100%!important;
  }
  .popup-fast-order .popup__title,
  .popup-credit .popup__title {
    text-align: left;
  }
  .popup-fast-order .popup__main {
    padding: 30px 34px 26px;
  }
  .popup-credit .popup__main {
    padding: 30px 42px 18px 24px;
  }
  .popup-fast-order p {
    margin-left: -18px;
  }
  .location__content {
    max-width: 100%;
    padding: 26px 10px 18px 20px;
  }
  .contacts-tabs-list__item {
    font-size: 15px;
  }
  .contacts-tabs-list__item a {
    padding: 28px 15px;
  }
  .contacts-social li {
    margin: 0 5px;
  }
  .contacts-tabs-cont__item {
    padding: 0 15px 25px;
  }
}
.popup-accessories {
  max-width: 960px;
  min-height: 355px;
  overflow: hidden;
}
.popup-accessories .card-img-slider {
  min-height: 295px;
  overflow: visible;
}
.popup-accessories .card-articul {
  font-size: 13px;
}
.popup-accessories .popup__main {
  padding: 29px 38px 10px 38px;
}
.popup-accessories .card-main__cont {
  width: 100%;
  padding-left: 0;
  padding-top: 7px;
}
.popup-accessories .card-main__img {
  float: left;
  width: 200px;
  padding-top: 0;
  width: 243px;
}
.popup-accessories .card-img-slider .slick-initialized .slick-slide {
  width: 200px!important;
}
.popup-accessories .card-img-big__item .card-img-big__img img {
  max-width: 200px;
  display: block;
}
.popup-accessories .card-img-nav {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 114px;
  left: 83px;
  max-height: 325px!important;
  max-width: 41px;
}
.popup-accessories .card-img-big {
  padding-left: 0;
  width: 200px;
  left: 0;
}
.popup-accessories .main-title {
  font-size: 17.5px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 600;
  padding: 0 0 9px;
}
.popup-accessories .card-img-nav__img {
  width: 40px;
  height: 40px;
}
.popup-accessories .card-img-slider .slick-arrow {
  left: -4px;
}
.popup-accessories .card-img-slider .slick-arrow:before {
  font-size: 13px;
}
.popup-accessories .card-img-nav__item {
  margin-bottom: 2px;
}
.popup-accessories .card-img-slider .slick-next {
  bottom: 15px;
}
.popup-accessories .card-img-slider .slick-prev {
  top: 20px;
}
.popup-accessories .card-main__inf {
  margin-top: 39px;
}
.popup-accessories .card-main__row {
  position: relative;
}
.popup-accessories .card-main__row .rating {
  position: absolute;
  top: 28px;
}
.popup-accessories .color-choice__title {
  margin-bottom: 10px;
}
.popup-accessories .compare {
  margin-top: 2px;
  margin-left: 25px;
  position: relative;
  margin-bottom: 26px;
}
.popup-accessories .compare:before {
  content: "";
  width: 15px;
  height: 23px;
  display: block;
  position: absolute;
  top: -4px;
  left: -24px;
  background: url(../img/svg/compare.png) no-repeat;
  opacity: .3;
}
.popup-accessories .card-main-aside {
  margin-top: -52px;
}
.popup-accessories .fancybox-close-small {
  top: 11px;
  right: 10px;
}
@media screen and (max-width: 1300px) {
  .popup-accessories .card-img-nav {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    top: 169px;
    left: -15px;
    max-height: 186px!important;
    max-width: 41px;
    padding: 0;
    text-align: center;
    float: left;
    margin: 0 auto;
  }
  .popup-accessories .card-img-slider .slick-next {
    bottom: -35px;
  }
  .popup-accessories .card-img-slider .slick-prev {
    top: -35px;
  }
  .popup-accessories .blue-link-with-arr {
    top: auto;
    display: inline-block;
    margin: 0 auto;
    max-width: 100%;
    left: auto;
  }
  .popup-accessories .card-main-aside {
    margin-top: auto;
  }
}
@media screen and (max-width: 992px) {
  .popup-accessories .card-main__cont .card-articul {
    margin-left: 0;
  }
  .popup-accessories .card-main__cont {
    width: -webkit-calc(100% - 243px);
    width: calc(100% - 243px);
    float: right;
  }
  .popup-accessories .card-main__row .rating {
    margin-left: 0;
    left: 0;
  }
  .popup-accessories .compare {
    width: 100%;
  }
  .popup-accessories .popup__main {
    padding: 29px 38px 30px 38px;
    display: block;
    float: left;
    width: 100%;
  }
  .popup-accessories .card-img-slider .slick-next {
    bottom: 18px;
  }
  .personal-account-main_data {
    padding-top: 20px;
    margin-bottom: 20px;
  }
  .personal-account-main_orders {
    margin-bottom: 25px;
    min-height: auto;
  }
  .personal-account-main_orders .main-orders {
    padding: 36px 20px 30px 20px;
    min-height: auto;
  }
  .main-block_sale .card {
    max-width: 49%;
  }
}
@media screen and (max-width: 768px) {
  .popup-accessories .popup__main {
    padding-top: 65px;
  }
  .main-block.main-block_sale .card,
  .main-block.main-block_sale .card:nth-child(2n),
  .main-block.main-block_sale .card:nth-child(3n) {
    max-width: 325px;
    display: block;
    margin: 0 auto 13px;
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .popup-accessories .card-main__cont {
    width: 100%;
  }
  .popup-accessories .popup__main {
    padding-top: 20px;
  }
  .popup-accessories .card-main__img {
    width: 200px;
    float: none;
  }
  .popup-accessories {
    position: absolute!important;
  }
  .popup-accessories .card-main__cont {
    padding-top: 60px;
  }
  .popup-accessories .card-img-nav {
    left: auto;
  }
}
@media screen and (max-width: 520px) {
  .popup-accessories .card-main__cont .card-articul {
    float: left;
  }
  .popup-accessories .card-main__cont {
    padding-top: 35px;
  }
  .popup-accessories .card-main-aside {
    margin-top: 20px;
  }
  .popup-accessories .card-main__row {
    float: left;
  }
  .popup-accessories .compare__link:after {
    display: none;
  }
  .popup-accessories .compare {
    left: 24px;
    margin-left: 0;
  }
}
@media screen and (max-width: 380px) {
  .popup-accessories .color-list {
    max-width: 100%;
  }
  .popup-accessories .popup__main {
    padding: 29px 20px 30px 20px;
  }
}