.accessories {
	&>header {
		color: $main-normal-textcolor;
		background: $main-color-light;
		text-shadow: 0px 1px 0px $main-normal-textshadow;
	}
}

.accessory {
	border-color: $accessory-border;
	&:before { border-bottom-color: $accessory-border; }

	header, .add-to-order {
		.text { color: $main-normal-textcolor; }
	}

	&:hover {
		border-color: $main-color-light;
		&:before { border-bottom-color: $main-color-light; }
	}

	&.out-of-stock:hover {
		border-color: $accessory-border;
		&:before { border-bottom-color: $accessory-border; }
	}

	.main-data {
		&>a {
			@include set-colors('.text', $link-base-color, $link-hover-color, $link-clicked-color, $link-visited-color);
			@include set-border-colors('.text', transparent, $link-hover-color, $link-clicked-color, transparent);
		}
	}

	.add-to-order {
		border-right-color: $main-color-light;
		border-top-color: $main-color-light;
	}

	&.out-of-stock .add-to-order {
		border-right-color: $accessory-border;
		border-top-color: $accessory-border;
	}
}