.brands-tagcloud .brand-tag {
	&:hover { background: $main-color-soft; }
	&.active, &.active:hover { @include main-normal; }
}

.news-page, .stock-page {
	.news-n-articles, .stock-wrap {
		.item {
			&:hover {
				.date-wrap {
					color: $main-normal-textcolor;
					background: $main-color-soft;
					.svg-wrap svg { fill: $main-normal-textcolor; }
				}
			}
		}
	}

	.nav-pills {
		li {
			a {
				&:hover { @include main-hovered; }
				&:active { @include main-clicked; }
			}

			&.active a {
				@include main-normal;
				border-color: $main-color-soft;
			}
		}
	}
}