@function hsb($h-hsb, $s-hsb, $b-hsb, $a: 1) {
	@if $b-hsb == 0 {
		@return hsla(0, 0, 0, $a)
	} @else {
		$l-hsl: ($b-hsb/2) * (2 - ($s-hsb/100));
		$s-hsl: ($b-hsb * $s-hsb) / if($l-hsl < 50, $l-hsl * 2, 200 - $l-hsl * 2);
		@return hsla($h-hsb, $s-hsl, $l-hsl, $a);
	}
}

// ======= COMMON ========
$main-color-soft:				hsb($main-color-h, $main-color-s, $main-color-v);
$main-color-dark:				$main-color-soft + #161616;
$main-color-light:				$main-color-soft - #161616;

$main-gradient-to-top:			linear-gradient(to top, $main-color-dark, $main-color-light 80%);
$main-gradient-to-bottom:		linear-gradient(to top, $main-color-dark, $main-color-light 80%);
$main-gradient-to-right:		linear-gradient(to right, $main-color-dark, $main-color-light 80%);
// ==== END OF COMMON ====

// ======== MAIN =========
// -- this is for buttons with arrows on sides
$btn-gradient:					hsb($main-color-h, $main-color-s - 30, $main-color-v + 20) 0%,  hsb($main-color-h, $main-color-s - 15, $main-color-v) 3%, $main-color-dark 22%, $main-color-light 76%;
$btn-gradient-hover:			$main-color-dark 22%, $main-color-light 76%;
$btn-gradient-click:			$btn-gradient;
// --
$main-normal-shadowcolor:		hsb($main-color-h, $main-color-s + 40, $main-color-v - 30);
$main-normal-textcolor:			#fff;
$main-normal-textcolor__black:	#000;
$main-normal-textshadow:		0px 1px 0px hsb($main-color-h, $main-color-s + 30, $main-color-v - 20);
$main-normal-bg:				linear-gradient(to top, $btn-gradient);
$main-normal-shadow:			0px 1px 2px fade-out(#141311, 0.20), inset 0px 0px 0px $main-normal-shadowcolor;

$main-hovered-shadowcolor:		hsb($main-color-h, $main-color-s + 20, $main-color-v - 10);
$main-hovered-textcolor:		$main-normal-textcolor;
$main-hovered-textshadow:		$main-normal-textshadow;
$main-hovered-bg:				linear-gradient(to bottom, $btn-gradient-hover);
$main-hovered-shadow:			0px 1px 2px fade-out(#141311, 0.20), inset 0px -2px 0px $main-hovered-shadowcolor;

$main-clicked-shadowcolor:		hsb($main-color-h, $main-color-s + 40, $main-color-v - 40);
$main-clicked-textcolor:		$main-normal-textcolor;
$main-clicked-textshadow:		$main-normal-textshadow;
$main-clicked-bg:				$main-normal-bg;
$main-clicked-shadow:			inset 0px 2px 3px $main-clicked-shadowcolor;
// ===== END OF MAIN =====

$shadow-specialblocks-silver:	0px 1px 3px fade-out(#000, 0.21), inset 0px -5px 0px fade-out(#000, 0.82);
$shadow-specialblocks-main:		0px 1px 3px fade-out(#000, 0.21), inset 0px -5px 0px $main-normal-shadowcolor;
$feedback-dots:					#303435;
$bigslider-gradient:			linear-gradient(to bottom, hsb($main-color-h, 5, $main-color-v), hsb($main-color-h, 10, $main-color-v - 5));
$bigslider-textcolor:			hsb($main-color-h, $main-color-s + 50, 25);

$hurry-banner:					url('img/bg/hurry-banner_blue-skew.png') no-repeat center top;
$benefit-openness:				url('pictures/benefits/agree-white.png');
$benefit-warranty:				url('pictures/benefits/OK-white.png');
$benefit-delivery:				url('pictures/benefits/delivery-white.png');
$benefit-profit:				url('pictures/benefits/sale-white.png');
$benefit-exchange:				url('pictures/benefits/exchange-white.png');
$benefit-bigstock:				url('pictures/benefits/menu-white.png');

$benefit-openness__black:		url('pictures/benefits/agree.png');
$benefit-warranty__black:		url('pictures/benefits/OK.png');
$benefit-delivery__black:		url('pictures/benefits/delivery.png');
$benefit-profit__black:			url('pictures/benefits/sale.png');
$benefit-exchange__black:		url('pictures/benefits/exchange.png');
$benefit-bigstock__black:		url('pictures/benefits/menu.png');
