$theme: 'yellow-flat';
// ======= COMMON ========
$main-color-dark: #f3d312; // см. ховер на телефоны в UI
$main-color-light: #ffe85b;
$main-color-soft: #ffe023; // см. ховер на категории

$main-gradient-to-top: $main-color-soft;
$main-gradient-to-bottom: $main-color-soft;
$main-gradient-to-right: $main-color-soft;
// ==== END OF COMMON ====
// ======== MAIN =========
$main-normal-shadowcolor: #e7c125;
$main-normal-textcolor: #000;
$main-normal-textshadow: none;
$main-normal-bg: $main-color-soft;
$main-normal-shadow: none;

$main-hovered-shadowcolor: #e9cc58;
$main-hovered-textcolor: $main-normal-textcolor;
$main-hovered-textshadow: $main-normal-textshadow;
$main-hovered-bg: $main-color-light;
$main-hovered-shadow: none;

$main-clicked-shadowcolor: #dfb717;
$main-clicked-textcolor: $main-normal-textcolor;
$main-clicked-textshadow: $main-normal-textshadow;
$main-clicked-bg: $main-color-dark;
$main-clicked-shadow: none;
// ===== END OF MAIN =====

$shadow-specialblocks-silver: none;
$shadow-specialblocks-main: none;
$feedback-dots: #303435;
$bigslider-textcolor: #00173c;

$hurry-banner: url('../../img/bg/hurry-banner_' + $theme + '.png') no-repeat center top;
$benefit-openness: url('../../pictures/benefits/agree.png');
$benefit-warranty: url('../../pictures/benefits/OK.png');
$benefit-delivery: url('../../pictures/benefits/delivery.png');
$benefit-profit: url('../../pictures/benefits/sale.png');
$benefit-exchange: url('../../pictures/benefits/exchange.png');
$benefit-bigstock: url('../../pictures/benefits/menu.png');
