// CONSTANTS: NOT CHANGED BETWEEN THEMES
$table-hovered-bg: darken(#fff, 5%);

$link-base-color: #0066ff;
$link-hover-color: #001d8b;
$link-clicked-color: #0066ff;
$link-visited-color: #006cff;

$link-topline-color: #0066ff;
$link-topline-hover-color: #000942;

$headers-base-color: #000;

$footer-middle-bg: #46455d;
$footer-middle-text: #999aa3;
$footer-nav-text: #fff;
$footer-bottom-bg: #141419;
$footer-bottom-text: #fff;

$ul-circles-color: #d6d6d6;

$textinput-base: #d9d7e5;
$textinput-hover: #bdbbcb;
$textinput-valid: #04b100;
$textinput-not-valid: #ff4949;

$bg-light: #fff2b2;
$accessory-border: #f0f0f0;

$tooltip-bg: #ffeb90;
$tooltip-border: #ffc629;

$textinput-focus: $main-color-dark;
$bigslider-btnview-textcolor: #6d6d6d;
