#rz_modal-oneclick .btn,
.rz_oneclick-buy .btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#rz_modal-oneclick .btn:focus,
.rz_oneclick-buy .btn:focus,
#rz_modal-oneclick .btn:active:focus,
.rz_oneclick-buy .btn:active:focus,
#rz_modal-oneclick .btn.active:focus,
.rz_oneclick-buy .btn.active:focus,
#rz_modal-oneclick .btn.focus,
.rz_oneclick-buy .btn.focus,
#rz_modal-oneclick .btn:active.focus,
.rz_oneclick-buy .btn:active.focus,
#rz_modal-oneclick .btn.active.focus,
.rz_oneclick-buy .btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
#rz_modal-oneclick .btn:hover,
.rz_oneclick-buy .btn:hover,
#rz_modal-oneclick .btn:focus,
.rz_oneclick-buy .btn:focus,
#rz_modal-oneclick .btn.focus,
.rz_oneclick-buy .btn.focus {
  color: #333333;
  text-decoration: none;
  background-image: none;
}
#rz_modal-oneclick .btn:active,
.rz_oneclick-buy .btn:active,
#rz_modal-oneclick .btn.active,
.rz_oneclick-buy .btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
#rz_modal-oneclick .btn.disabled,
.rz_oneclick-buy .btn.disabled,
#rz_modal-oneclick .btn[disabled],
.rz_oneclick-buy .btn[disabled],
fieldset[disabled] #rz_modal-oneclick .btn,
fieldset[disabled] .rz_oneclick-buy .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
#rz_modal-oneclick .btn-default,
.rz_oneclick-buy .btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
#rz_modal-oneclick .btn-default:hover,
.rz_oneclick-buy .btn-default:hover,
#rz_modal-oneclick .btn-default:focus,
.rz_oneclick-buy .btn-default:focus,
#rz_modal-oneclick .btn-default.focus,
.rz_oneclick-buy .btn-default.focus,
#rz_modal-oneclick .btn-default:active,
.rz_oneclick-buy .btn-default:active,
#rz_modal-oneclick .btn-default.active,
.rz_oneclick-buy .btn-default.active,
.open > .dropdown-toggle#rz_modal-oneclick .btn-default,
.open > .dropdown-toggle.rz_oneclick-buy .btn-default {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
#rz_modal-oneclick .btn-default:active,
.rz_oneclick-buy .btn-default:active,
#rz_modal-oneclick .btn-default.active,
.rz_oneclick-buy .btn-default.active,
.open > .dropdown-toggle#rz_modal-oneclick .btn-default,
.open > .dropdown-toggle.rz_oneclick-buy .btn-default {
  background-image: none;
}
#rz_modal-oneclick .btn-default.disabled,
.rz_oneclick-buy .btn-default.disabled,
#rz_modal-oneclick .btn-default[disabled],
.rz_oneclick-buy .btn-default[disabled],
fieldset[disabled] #rz_modal-oneclick .btn-default,
fieldset[disabled] .rz_oneclick-buy .btn-default,
#rz_modal-oneclick .btn-default.disabled:hover,
.rz_oneclick-buy .btn-default.disabled:hover,
#rz_modal-oneclick .btn-default[disabled]:hover,
.rz_oneclick-buy .btn-default[disabled]:hover,
fieldset[disabled] #rz_modal-oneclick .btn-default:hover,
fieldset[disabled] .rz_oneclick-buy .btn-default:hover,
#rz_modal-oneclick .btn-default.disabled:focus,
.rz_oneclick-buy .btn-default.disabled:focus,
#rz_modal-oneclick .btn-default[disabled]:focus,
.rz_oneclick-buy .btn-default[disabled]:focus,
fieldset[disabled] #rz_modal-oneclick .btn-default:focus,
fieldset[disabled] .rz_oneclick-buy .btn-default:focus,
#rz_modal-oneclick .btn-default.disabled.focus,
.rz_oneclick-buy .btn-default.disabled.focus,
#rz_modal-oneclick .btn-default[disabled].focus,
.rz_oneclick-buy .btn-default[disabled].focus,
fieldset[disabled] #rz_modal-oneclick .btn-default.focus,
fieldset[disabled] .rz_oneclick-buy .btn-default.focus,
#rz_modal-oneclick .btn-default.disabled:active,
.rz_oneclick-buy .btn-default.disabled:active,
#rz_modal-oneclick .btn-default[disabled]:active,
.rz_oneclick-buy .btn-default[disabled]:active,
fieldset[disabled] #rz_modal-oneclick .btn-default:active,
fieldset[disabled] .rz_oneclick-buy .btn-default:active,
#rz_modal-oneclick .btn-default.disabled.active,
.rz_oneclick-buy .btn-default.disabled.active,
#rz_modal-oneclick .btn-default[disabled].active,
.rz_oneclick-buy .btn-default[disabled].active,
fieldset[disabled] #rz_modal-oneclick .btn-default.active,
fieldset[disabled] .rz_oneclick-buy .btn-default.active {
  background-color: #ffffff;
  border-color: #cccccc;
}
#rz_modal-oneclick .btn-default .badge,
.rz_oneclick-buy .btn-default .badge {
  color: #ffffff;
  background-color: #333333;
}
#rz_modal-oneclick .btn-primary,
.rz_oneclick-buy .btn-primary {
  color: #ffffff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
#rz_modal-oneclick .btn-primary:hover,
.rz_oneclick-buy .btn-primary:hover,
#rz_modal-oneclick .btn-primary:focus,
.rz_oneclick-buy .btn-primary:focus,
#rz_modal-oneclick .btn-primary.focus,
.rz_oneclick-buy .btn-primary.focus,
#rz_modal-oneclick .btn-primary:active,
.rz_oneclick-buy .btn-primary:active,
#rz_modal-oneclick .btn-primary.active,
.rz_oneclick-buy .btn-primary.active,
.open > .dropdown-toggle#rz_modal-oneclick .btn-primary,
.open > .dropdown-toggle.rz_oneclick-buy .btn-primary {
  color: #ffffff;
  background-color: #286090;
  border-color: #204d74;
}
#rz_modal-oneclick .btn-primary:active,
.rz_oneclick-buy .btn-primary:active,
#rz_modal-oneclick .btn-primary.active,
.rz_oneclick-buy .btn-primary.active,
.open > .dropdown-toggle#rz_modal-oneclick .btn-primary,
.open > .dropdown-toggle.rz_oneclick-buy .btn-primary {
  background-image: none;
}
#rz_modal-oneclick .btn-primary.disabled,
.rz_oneclick-buy .btn-primary.disabled,
#rz_modal-oneclick .btn-primary[disabled],
.rz_oneclick-buy .btn-primary[disabled],
fieldset[disabled] #rz_modal-oneclick .btn-primary,
fieldset[disabled] .rz_oneclick-buy .btn-primary,
#rz_modal-oneclick .btn-primary.disabled:hover,
.rz_oneclick-buy .btn-primary.disabled:hover,
#rz_modal-oneclick .btn-primary[disabled]:hover,
.rz_oneclick-buy .btn-primary[disabled]:hover,
fieldset[disabled] #rz_modal-oneclick .btn-primary:hover,
fieldset[disabled] .rz_oneclick-buy .btn-primary:hover,
#rz_modal-oneclick .btn-primary.disabled:focus,
.rz_oneclick-buy .btn-primary.disabled:focus,
#rz_modal-oneclick .btn-primary[disabled]:focus,
.rz_oneclick-buy .btn-primary[disabled]:focus,
fieldset[disabled] #rz_modal-oneclick .btn-primary:focus,
fieldset[disabled] .rz_oneclick-buy .btn-primary:focus,
#rz_modal-oneclick .btn-primary.disabled.focus,
.rz_oneclick-buy .btn-primary.disabled.focus,
#rz_modal-oneclick .btn-primary[disabled].focus,
.rz_oneclick-buy .btn-primary[disabled].focus,
fieldset[disabled] #rz_modal-oneclick .btn-primary.focus,
fieldset[disabled] .rz_oneclick-buy .btn-primary.focus,
#rz_modal-oneclick .btn-primary.disabled:active,
.rz_oneclick-buy .btn-primary.disabled:active,
#rz_modal-oneclick .btn-primary[disabled]:active,
.rz_oneclick-buy .btn-primary[disabled]:active,
fieldset[disabled] #rz_modal-oneclick .btn-primary:active,
fieldset[disabled] .rz_oneclick-buy .btn-primary:active,
#rz_modal-oneclick .btn-primary.disabled.active,
.rz_oneclick-buy .btn-primary.disabled.active,
#rz_modal-oneclick .btn-primary[disabled].active,
.rz_oneclick-buy .btn-primary[disabled].active,
fieldset[disabled] #rz_modal-oneclick .btn-primary.active,
fieldset[disabled] .rz_oneclick-buy .btn-primary.active {
  background-color: #337ab7;
  border-color: #2e6da4;
}
#rz_modal-oneclick .btn-primary .badge,
.rz_oneclick-buy .btn-primary .badge {
  color: #337ab7;
  background-color: #ffffff;
}
#rz_modal-oneclick .btn-success,
.rz_oneclick-buy .btn-success {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
#rz_modal-oneclick .btn-success:hover,
.rz_oneclick-buy .btn-success:hover,
#rz_modal-oneclick .btn-success:focus,
.rz_oneclick-buy .btn-success:focus,
#rz_modal-oneclick .btn-success.focus,
.rz_oneclick-buy .btn-success.focus,
#rz_modal-oneclick .btn-success:active,
.rz_oneclick-buy .btn-success:active,
#rz_modal-oneclick .btn-success.active,
.rz_oneclick-buy .btn-success.active,
.open > .dropdown-toggle#rz_modal-oneclick .btn-success,
.open > .dropdown-toggle.rz_oneclick-buy .btn-success {
  color: #ffffff;
  background-color: #449d44;
  border-color: #398439;
}
#rz_modal-oneclick .btn-success:active,
.rz_oneclick-buy .btn-success:active,
#rz_modal-oneclick .btn-success.active,
.rz_oneclick-buy .btn-success.active,
.open > .dropdown-toggle#rz_modal-oneclick .btn-success,
.open > .dropdown-toggle.rz_oneclick-buy .btn-success {
  background-image: none;
}
#rz_modal-oneclick .btn-success.disabled,
.rz_oneclick-buy .btn-success.disabled,
#rz_modal-oneclick .btn-success[disabled],
.rz_oneclick-buy .btn-success[disabled],
fieldset[disabled] #rz_modal-oneclick .btn-success,
fieldset[disabled] .rz_oneclick-buy .btn-success,
#rz_modal-oneclick .btn-success.disabled:hover,
.rz_oneclick-buy .btn-success.disabled:hover,
#rz_modal-oneclick .btn-success[disabled]:hover,
.rz_oneclick-buy .btn-success[disabled]:hover,
fieldset[disabled] #rz_modal-oneclick .btn-success:hover,
fieldset[disabled] .rz_oneclick-buy .btn-success:hover,
#rz_modal-oneclick .btn-success.disabled:focus,
.rz_oneclick-buy .btn-success.disabled:focus,
#rz_modal-oneclick .btn-success[disabled]:focus,
.rz_oneclick-buy .btn-success[disabled]:focus,
fieldset[disabled] #rz_modal-oneclick .btn-success:focus,
fieldset[disabled] .rz_oneclick-buy .btn-success:focus,
#rz_modal-oneclick .btn-success.disabled.focus,
.rz_oneclick-buy .btn-success.disabled.focus,
#rz_modal-oneclick .btn-success[disabled].focus,
.rz_oneclick-buy .btn-success[disabled].focus,
fieldset[disabled] #rz_modal-oneclick .btn-success.focus,
fieldset[disabled] .rz_oneclick-buy .btn-success.focus,
#rz_modal-oneclick .btn-success.disabled:active,
.rz_oneclick-buy .btn-success.disabled:active,
#rz_modal-oneclick .btn-success[disabled]:active,
.rz_oneclick-buy .btn-success[disabled]:active,
fieldset[disabled] #rz_modal-oneclick .btn-success:active,
fieldset[disabled] .rz_oneclick-buy .btn-success:active,
#rz_modal-oneclick .btn-success.disabled.active,
.rz_oneclick-buy .btn-success.disabled.active,
#rz_modal-oneclick .btn-success[disabled].active,
.rz_oneclick-buy .btn-success[disabled].active,
fieldset[disabled] #rz_modal-oneclick .btn-success.active,
fieldset[disabled] .rz_oneclick-buy .btn-success.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
#rz_modal-oneclick .btn-success .badge,
.rz_oneclick-buy .btn-success .badge {
  color: #5cb85c;
  background-color: #ffffff;
}
#rz_modal-oneclick .btn-info,
.rz_oneclick-buy .btn-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
#rz_modal-oneclick .btn-info:hover,
.rz_oneclick-buy .btn-info:hover,
#rz_modal-oneclick .btn-info:focus,
.rz_oneclick-buy .btn-info:focus,
#rz_modal-oneclick .btn-info.focus,
.rz_oneclick-buy .btn-info.focus,
#rz_modal-oneclick .btn-info:active,
.rz_oneclick-buy .btn-info:active,
#rz_modal-oneclick .btn-info.active,
.rz_oneclick-buy .btn-info.active,
.open > .dropdown-toggle#rz_modal-oneclick .btn-info,
.open > .dropdown-toggle.rz_oneclick-buy .btn-info {
  color: #ffffff;
  background-color: #31b0d5;
  border-color: #269abc;
}
#rz_modal-oneclick .btn-info:active,
.rz_oneclick-buy .btn-info:active,
#rz_modal-oneclick .btn-info.active,
.rz_oneclick-buy .btn-info.active,
.open > .dropdown-toggle#rz_modal-oneclick .btn-info,
.open > .dropdown-toggle.rz_oneclick-buy .btn-info {
  background-image: none;
}
#rz_modal-oneclick .btn-info.disabled,
.rz_oneclick-buy .btn-info.disabled,
#rz_modal-oneclick .btn-info[disabled],
.rz_oneclick-buy .btn-info[disabled],
fieldset[disabled] #rz_modal-oneclick .btn-info,
fieldset[disabled] .rz_oneclick-buy .btn-info,
#rz_modal-oneclick .btn-info.disabled:hover,
.rz_oneclick-buy .btn-info.disabled:hover,
#rz_modal-oneclick .btn-info[disabled]:hover,
.rz_oneclick-buy .btn-info[disabled]:hover,
fieldset[disabled] #rz_modal-oneclick .btn-info:hover,
fieldset[disabled] .rz_oneclick-buy .btn-info:hover,
#rz_modal-oneclick .btn-info.disabled:focus,
.rz_oneclick-buy .btn-info.disabled:focus,
#rz_modal-oneclick .btn-info[disabled]:focus,
.rz_oneclick-buy .btn-info[disabled]:focus,
fieldset[disabled] #rz_modal-oneclick .btn-info:focus,
fieldset[disabled] .rz_oneclick-buy .btn-info:focus,
#rz_modal-oneclick .btn-info.disabled.focus,
.rz_oneclick-buy .btn-info.disabled.focus,
#rz_modal-oneclick .btn-info[disabled].focus,
.rz_oneclick-buy .btn-info[disabled].focus,
fieldset[disabled] #rz_modal-oneclick .btn-info.focus,
fieldset[disabled] .rz_oneclick-buy .btn-info.focus,
#rz_modal-oneclick .btn-info.disabled:active,
.rz_oneclick-buy .btn-info.disabled:active,
#rz_modal-oneclick .btn-info[disabled]:active,
.rz_oneclick-buy .btn-info[disabled]:active,
fieldset[disabled] #rz_modal-oneclick .btn-info:active,
fieldset[disabled] .rz_oneclick-buy .btn-info:active,
#rz_modal-oneclick .btn-info.disabled.active,
.rz_oneclick-buy .btn-info.disabled.active,
#rz_modal-oneclick .btn-info[disabled].active,
.rz_oneclick-buy .btn-info[disabled].active,
fieldset[disabled] #rz_modal-oneclick .btn-info.active,
fieldset[disabled] .rz_oneclick-buy .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}
#rz_modal-oneclick .btn-info .badge,
.rz_oneclick-buy .btn-info .badge {
  color: #5bc0de;
  background-color: #ffffff;
}
#rz_modal-oneclick .btn-warning,
.rz_oneclick-buy .btn-warning {
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
#rz_modal-oneclick .btn-warning:hover,
.rz_oneclick-buy .btn-warning:hover,
#rz_modal-oneclick .btn-warning:focus,
.rz_oneclick-buy .btn-warning:focus,
#rz_modal-oneclick .btn-warning.focus,
.rz_oneclick-buy .btn-warning.focus,
#rz_modal-oneclick .btn-warning:active,
.rz_oneclick-buy .btn-warning:active,
#rz_modal-oneclick .btn-warning.active,
.rz_oneclick-buy .btn-warning.active,
.open > .dropdown-toggle#rz_modal-oneclick .btn-warning,
.open > .dropdown-toggle.rz_oneclick-buy .btn-warning {
  color: #ffffff;
  background-color: #ec971f;
  border-color: #d58512;
}
#rz_modal-oneclick .btn-warning:active,
.rz_oneclick-buy .btn-warning:active,
#rz_modal-oneclick .btn-warning.active,
.rz_oneclick-buy .btn-warning.active,
.open > .dropdown-toggle#rz_modal-oneclick .btn-warning,
.open > .dropdown-toggle.rz_oneclick-buy .btn-warning {
  background-image: none;
}
#rz_modal-oneclick .btn-warning.disabled,
.rz_oneclick-buy .btn-warning.disabled,
#rz_modal-oneclick .btn-warning[disabled],
.rz_oneclick-buy .btn-warning[disabled],
fieldset[disabled] #rz_modal-oneclick .btn-warning,
fieldset[disabled] .rz_oneclick-buy .btn-warning,
#rz_modal-oneclick .btn-warning.disabled:hover,
.rz_oneclick-buy .btn-warning.disabled:hover,
#rz_modal-oneclick .btn-warning[disabled]:hover,
.rz_oneclick-buy .btn-warning[disabled]:hover,
fieldset[disabled] #rz_modal-oneclick .btn-warning:hover,
fieldset[disabled] .rz_oneclick-buy .btn-warning:hover,
#rz_modal-oneclick .btn-warning.disabled:focus,
.rz_oneclick-buy .btn-warning.disabled:focus,
#rz_modal-oneclick .btn-warning[disabled]:focus,
.rz_oneclick-buy .btn-warning[disabled]:focus,
fieldset[disabled] #rz_modal-oneclick .btn-warning:focus,
fieldset[disabled] .rz_oneclick-buy .btn-warning:focus,
#rz_modal-oneclick .btn-warning.disabled.focus,
.rz_oneclick-buy .btn-warning.disabled.focus,
#rz_modal-oneclick .btn-warning[disabled].focus,
.rz_oneclick-buy .btn-warning[disabled].focus,
fieldset[disabled] #rz_modal-oneclick .btn-warning.focus,
fieldset[disabled] .rz_oneclick-buy .btn-warning.focus,
#rz_modal-oneclick .btn-warning.disabled:active,
.rz_oneclick-buy .btn-warning.disabled:active,
#rz_modal-oneclick .btn-warning[disabled]:active,
.rz_oneclick-buy .btn-warning[disabled]:active,
fieldset[disabled] #rz_modal-oneclick .btn-warning:active,
fieldset[disabled] .rz_oneclick-buy .btn-warning:active,
#rz_modal-oneclick .btn-warning.disabled.active,
.rz_oneclick-buy .btn-warning.disabled.active,
#rz_modal-oneclick .btn-warning[disabled].active,
.rz_oneclick-buy .btn-warning[disabled].active,
fieldset[disabled] #rz_modal-oneclick .btn-warning.active,
fieldset[disabled] .rz_oneclick-buy .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}
#rz_modal-oneclick .btn-warning .badge,
.rz_oneclick-buy .btn-warning .badge {
  color: #f0ad4e;
  background-color: #ffffff;
}
#rz_modal-oneclick .btn-danger,
.rz_oneclick-buy .btn-danger {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
#rz_modal-oneclick .btn-danger:hover,
.rz_oneclick-buy .btn-danger:hover,
#rz_modal-oneclick .btn-danger:focus,
.rz_oneclick-buy .btn-danger:focus,
#rz_modal-oneclick .btn-danger.focus,
.rz_oneclick-buy .btn-danger.focus,
#rz_modal-oneclick .btn-danger:active,
.rz_oneclick-buy .btn-danger:active,
#rz_modal-oneclick .btn-danger.active,
.rz_oneclick-buy .btn-danger.active,
.open > .dropdown-toggle#rz_modal-oneclick .btn-danger,
.open > .dropdown-toggle.rz_oneclick-buy .btn-danger {
  color: #ffffff;
  background-color: #c9302c;
  border-color: #ac2925;
}
#rz_modal-oneclick .btn-danger:active,
.rz_oneclick-buy .btn-danger:active,
#rz_modal-oneclick .btn-danger.active,
.rz_oneclick-buy .btn-danger.active,
.open > .dropdown-toggle#rz_modal-oneclick .btn-danger,
.open > .dropdown-toggle.rz_oneclick-buy .btn-danger {
  background-image: none;
}
#rz_modal-oneclick .btn-danger.disabled,
.rz_oneclick-buy .btn-danger.disabled,
#rz_modal-oneclick .btn-danger[disabled],
.rz_oneclick-buy .btn-danger[disabled],
fieldset[disabled] #rz_modal-oneclick .btn-danger,
fieldset[disabled] .rz_oneclick-buy .btn-danger,
#rz_modal-oneclick .btn-danger.disabled:hover,
.rz_oneclick-buy .btn-danger.disabled:hover,
#rz_modal-oneclick .btn-danger[disabled]:hover,
.rz_oneclick-buy .btn-danger[disabled]:hover,
fieldset[disabled] #rz_modal-oneclick .btn-danger:hover,
fieldset[disabled] .rz_oneclick-buy .btn-danger:hover,
#rz_modal-oneclick .btn-danger.disabled:focus,
.rz_oneclick-buy .btn-danger.disabled:focus,
#rz_modal-oneclick .btn-danger[disabled]:focus,
.rz_oneclick-buy .btn-danger[disabled]:focus,
fieldset[disabled] #rz_modal-oneclick .btn-danger:focus,
fieldset[disabled] .rz_oneclick-buy .btn-danger:focus,
#rz_modal-oneclick .btn-danger.disabled.focus,
.rz_oneclick-buy .btn-danger.disabled.focus,
#rz_modal-oneclick .btn-danger[disabled].focus,
.rz_oneclick-buy .btn-danger[disabled].focus,
fieldset[disabled] #rz_modal-oneclick .btn-danger.focus,
fieldset[disabled] .rz_oneclick-buy .btn-danger.focus,
#rz_modal-oneclick .btn-danger.disabled:active,
.rz_oneclick-buy .btn-danger.disabled:active,
#rz_modal-oneclick .btn-danger[disabled]:active,
.rz_oneclick-buy .btn-danger[disabled]:active,
fieldset[disabled] #rz_modal-oneclick .btn-danger:active,
fieldset[disabled] .rz_oneclick-buy .btn-danger:active,
#rz_modal-oneclick .btn-danger.disabled.active,
.rz_oneclick-buy .btn-danger.disabled.active,
#rz_modal-oneclick .btn-danger[disabled].active,
.rz_oneclick-buy .btn-danger[disabled].active,
fieldset[disabled] #rz_modal-oneclick .btn-danger.active,
fieldset[disabled] .rz_oneclick-buy .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}
#rz_modal-oneclick .btn-danger .badge,
.rz_oneclick-buy .btn-danger .badge {
  color: #d9534f;
  background-color: #ffffff;
}
#rz_modal-oneclick .btn-link,
.rz_oneclick-buy .btn-link {
  color: #337ab7;
  font-weight: normal;
  border-radius: 0;
}
#rz_modal-oneclick .btn-link,
.rz_oneclick-buy .btn-link,
#rz_modal-oneclick .btn-link:active,
.rz_oneclick-buy .btn-link:active,
#rz_modal-oneclick .btn-link.active,
.rz_oneclick-buy .btn-link.active,
#rz_modal-oneclick .btn-link[disabled],
.rz_oneclick-buy .btn-link[disabled],
fieldset[disabled] #rz_modal-oneclick .btn-link,
fieldset[disabled] .rz_oneclick-buy .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#rz_modal-oneclick .btn-link,
.rz_oneclick-buy .btn-link,
#rz_modal-oneclick .btn-link:hover,
.rz_oneclick-buy .btn-link:hover,
#rz_modal-oneclick .btn-link:focus,
.rz_oneclick-buy .btn-link:focus,
#rz_modal-oneclick .btn-link:active,
.rz_oneclick-buy .btn-link:active {
  border-color: transparent;
}
#rz_modal-oneclick .btn-link:hover,
.rz_oneclick-buy .btn-link:hover,
#rz_modal-oneclick .btn-link:focus,
.rz_oneclick-buy .btn-link:focus {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent;
}
#rz_modal-oneclick .btn-link[disabled]:hover,
.rz_oneclick-buy .btn-link[disabled]:hover,
fieldset[disabled] #rz_modal-oneclick .btn-link:hover,
fieldset[disabled] .rz_oneclick-buy .btn-link:hover,
#rz_modal-oneclick .btn-link[disabled]:focus,
.rz_oneclick-buy .btn-link[disabled]:focus,
fieldset[disabled] #rz_modal-oneclick .btn-link:focus,
fieldset[disabled] .rz_oneclick-buy .btn-link:focus {
  color: #777777;
  text-decoration: none;
}
#rz_modal-oneclick .btn-lg,
.rz_oneclick-buy .btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
#rz_modal-oneclick .btn-sm,
.rz_oneclick-buy .btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
#rz_modal-oneclick .btn-xs,
.rz_oneclick-buy .btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
#rz_modal-oneclick .btn-block,
.rz_oneclick-buy .btn-block {
  display: block;
  width: 100%;
}
#rz_modal-oneclick .btn-block + .btn-block,
.rz_oneclick-buy .btn-block + .btn-block {
  margin-top: 5px;
}
#rz_modal-oneclick input[type="submit"].btn-block,
.rz_oneclick-buy input[type="submit"].btn-block,
#rz_modal-oneclick input[type="reset"].btn-block,
.rz_oneclick-buy input[type="reset"].btn-block,
#rz_modal-oneclick input[type="button"].btn-block,
.rz_oneclick-buy input[type="button"].btn-block {
  width: 100%;
}
#rz_modal-oneclick fieldset,
.rz_oneclick-buy fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}
#rz_modal-oneclick legend,
.rz_oneclick-buy legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
#rz_modal-oneclick label,
.rz_oneclick-buy label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
#rz_modal-oneclick input[type="search"],
.rz_oneclick-buy input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#rz_modal-oneclick input[type="radio"],
.rz_oneclick-buy input[type="radio"],
#rz_modal-oneclick input[type="checkbox"],
.rz_oneclick-buy input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}
#rz_modal-oneclick input[type="file"],
.rz_oneclick-buy input[type="file"] {
  display: block;
}
#rz_modal-oneclick input[type="range"],
.rz_oneclick-buy input[type="range"] {
  display: block;
  width: 100%;
}
#rz_modal-oneclick select[multiple],
.rz_oneclick-buy select[multiple],
#rz_modal-oneclick select[size],
.rz_oneclick-buy select[size] {
  height: auto;
}
#rz_modal-oneclick input[type="file"]:focus,
.rz_oneclick-buy input[type="file"]:focus,
#rz_modal-oneclick input[type="radio"]:focus,
.rz_oneclick-buy input[type="radio"]:focus,
#rz_modal-oneclick input[type="checkbox"]:focus,
.rz_oneclick-buy input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
#rz_modal-oneclick output,
.rz_oneclick-buy output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
}
#rz_modal-oneclick .form-control,
.rz_oneclick-buy .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#rz_modal-oneclick .form-control:focus,
.rz_oneclick-buy .form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
#rz_modal-oneclick .form-control::-moz-placeholder,
.rz_oneclick-buy .form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
#rz_modal-oneclick .form-control:-ms-input-placeholder,
.rz_oneclick-buy .form-control:-ms-input-placeholder {
  color: #999999;
}
#rz_modal-oneclick .form-control::-webkit-input-placeholder,
.rz_oneclick-buy .form-control::-webkit-input-placeholder {
  color: #999999;
}
#rz_modal-oneclick .form-control[disabled],
.rz_oneclick-buy .form-control[disabled],
#rz_modal-oneclick .form-control[readonly],
.rz_oneclick-buy .form-control[readonly],
fieldset[disabled] #rz_modal-oneclick .form-control,
fieldset[disabled] .rz_oneclick-buy .form-control {
  background-color: #eeeeee;
  opacity: 1;
}
#rz_modal-oneclick .form-control[disabled],
.rz_oneclick-buy .form-control[disabled],
fieldset[disabled] #rz_modal-oneclick .form-control,
fieldset[disabled] .rz_oneclick-buy .form-control {
  cursor: not-allowed;
}
textarea#rz_modal-oneclick .form-control,
textarea.rz_oneclick-buy .form-control {
  height: auto;
}
#rz_modal-oneclick input[type="search"],
.rz_oneclick-buy input[type="search"] {
  -webkit-appearance: none;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #rz_modal-oneclick input[type="date"],
  .rz_oneclick-buy input[type="date"],
  #rz_modal-oneclick input[type="time"],
  .rz_oneclick-buy input[type="time"],
  #rz_modal-oneclick input[type="datetime-local"],
  .rz_oneclick-buy input[type="datetime-local"],
  #rz_modal-oneclick input[type="month"],
  .rz_oneclick-buy input[type="month"] {
    line-height: 34px;
  }
  #rz_modal-oneclick input[type="date"].input-sm,
  .rz_oneclick-buy input[type="date"].input-sm,
  #rz_modal-oneclick input[type="time"].input-sm,
  .rz_oneclick-buy input[type="time"].input-sm,
  #rz_modal-oneclick input[type="datetime-local"].input-sm,
  .rz_oneclick-buy input[type="datetime-local"].input-sm,
  #rz_modal-oneclick input[type="month"].input-sm,
  .rz_oneclick-buy input[type="month"].input-sm,
  .input-group-sm #rz_modal-oneclick input[type="date"],
  .input-group-sm .rz_oneclick-buy input[type="date"],
  .input-group-sm #rz_modal-oneclick input[type="time"],
  .input-group-sm .rz_oneclick-buy input[type="time"],
  .input-group-sm #rz_modal-oneclick input[type="datetime-local"],
  .input-group-sm .rz_oneclick-buy input[type="datetime-local"],
  .input-group-sm #rz_modal-oneclick input[type="month"],
  .input-group-sm .rz_oneclick-buy input[type="month"] {
    line-height: 30px;
  }
  #rz_modal-oneclick input[type="date"].input-lg,
  .rz_oneclick-buy input[type="date"].input-lg,
  #rz_modal-oneclick input[type="time"].input-lg,
  .rz_oneclick-buy input[type="time"].input-lg,
  #rz_modal-oneclick input[type="datetime-local"].input-lg,
  .rz_oneclick-buy input[type="datetime-local"].input-lg,
  #rz_modal-oneclick input[type="month"].input-lg,
  .rz_oneclick-buy input[type="month"].input-lg,
  .input-group-lg #rz_modal-oneclick input[type="date"],
  .input-group-lg .rz_oneclick-buy input[type="date"],
  .input-group-lg #rz_modal-oneclick input[type="time"],
  .input-group-lg .rz_oneclick-buy input[type="time"],
  .input-group-lg #rz_modal-oneclick input[type="datetime-local"],
  .input-group-lg .rz_oneclick-buy input[type="datetime-local"],
  .input-group-lg #rz_modal-oneclick input[type="month"],
  .input-group-lg .rz_oneclick-buy input[type="month"] {
    line-height: 46px;
  }
}
#rz_modal-oneclick .form-group,
.rz_oneclick-buy .form-group {
  margin-bottom: 15px;
}
#rz_modal-oneclick .radio,
.rz_oneclick-buy .radio,
#rz_modal-oneclick .checkbox,
.rz_oneclick-buy .checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
#rz_modal-oneclick .radio label,
.rz_oneclick-buy .radio label,
#rz_modal-oneclick .checkbox label,
.rz_oneclick-buy .checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
#rz_modal-oneclick .radio input[type="radio"],
.rz_oneclick-buy .radio input[type="radio"],
#rz_modal-oneclick .radio-inline input[type="radio"],
.rz_oneclick-buy .radio-inline input[type="radio"],
#rz_modal-oneclick .checkbox input[type="checkbox"],
.rz_oneclick-buy .checkbox input[type="checkbox"],
#rz_modal-oneclick .checkbox-inline input[type="checkbox"],
.rz_oneclick-buy .checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9;
}
#rz_modal-oneclick .radio + .radio,
.rz_oneclick-buy .radio + .radio,
#rz_modal-oneclick .checkbox + .checkbox,
.rz_oneclick-buy .checkbox + .checkbox {
  margin-top: -5px;
}
#rz_modal-oneclick .radio-inline,
.rz_oneclick-buy .radio-inline,
#rz_modal-oneclick .checkbox-inline,
.rz_oneclick-buy .checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
#rz_modal-oneclick .radio-inline + .radio-inline,
.rz_oneclick-buy .radio-inline + .radio-inline,
#rz_modal-oneclick .checkbox-inline + .checkbox-inline,
.rz_oneclick-buy .checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
#rz_modal-oneclick input[type="radio"][disabled],
.rz_oneclick-buy input[type="radio"][disabled],
#rz_modal-oneclick input[type="checkbox"][disabled],
.rz_oneclick-buy input[type="checkbox"][disabled],
#rz_modal-oneclick input[type="radio"].disabled,
.rz_oneclick-buy input[type="radio"].disabled,
#rz_modal-oneclick input[type="checkbox"].disabled,
.rz_oneclick-buy input[type="checkbox"].disabled,
fieldset[disabled] #rz_modal-oneclick input[type="radio"],
fieldset[disabled] .rz_oneclick-buy input[type="radio"],
fieldset[disabled] #rz_modal-oneclick input[type="checkbox"],
fieldset[disabled] .rz_oneclick-buy input[type="checkbox"] {
  cursor: not-allowed;
}
#rz_modal-oneclick .radio-inline.disabled,
.rz_oneclick-buy .radio-inline.disabled,
#rz_modal-oneclick .checkbox-inline.disabled,
.rz_oneclick-buy .checkbox-inline.disabled,
fieldset[disabled] #rz_modal-oneclick .radio-inline,
fieldset[disabled] .rz_oneclick-buy .radio-inline,
fieldset[disabled] #rz_modal-oneclick .checkbox-inline,
fieldset[disabled] .rz_oneclick-buy .checkbox-inline {
  cursor: not-allowed;
}
#rz_modal-oneclick .radio.disabled label,
.rz_oneclick-buy .radio.disabled label,
#rz_modal-oneclick .checkbox.disabled label,
.rz_oneclick-buy .checkbox.disabled label,
fieldset[disabled] #rz_modal-oneclick .radio label,
fieldset[disabled] .rz_oneclick-buy .radio label,
fieldset[disabled] #rz_modal-oneclick .checkbox label,
fieldset[disabled] .rz_oneclick-buy .checkbox label {
  cursor: not-allowed;
}
#rz_modal-oneclick .form-control-static,
.rz_oneclick-buy .form-control-static {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0;
  min-height: 34px;
}
#rz_modal-oneclick .form-control-static.input-lg,
.rz_oneclick-buy .form-control-static.input-lg,
#rz_modal-oneclick .form-control-static.input-sm,
.rz_oneclick-buy .form-control-static.input-sm {
  padding-left: 0;
  padding-right: 0;
}
#rz_modal-oneclick .input-sm,
.rz_oneclick-buy .input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
select#rz_modal-oneclick .input-sm,
select.rz_oneclick-buy .input-sm {
  height: 30px;
  line-height: 30px;
}
textarea#rz_modal-oneclick .input-sm,
textarea.rz_oneclick-buy .input-sm,
select[multiple] #rz_modal-oneclick .input-sm,
select[multiple] .rz_oneclick-buy .input-sm {
  height: auto;
}
#rz_modal-oneclick .form-group-sm .form-control,
.rz_oneclick-buy .form-group-sm .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
select#rz_modal-oneclick .form-group-sm .form-control,
select.rz_oneclick-buy .form-group-sm .form-control {
  height: 30px;
  line-height: 30px;
}
textarea#rz_modal-oneclick .form-group-sm .form-control,
textarea.rz_oneclick-buy .form-group-sm .form-control,
select[multiple] #rz_modal-oneclick .form-group-sm .form-control,
select[multiple] .rz_oneclick-buy .form-group-sm .form-control {
  height: auto;
}
#rz_modal-oneclick .form-group-sm .form-control-static,
.rz_oneclick-buy .form-group-sm .form-control-static {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  min-height: 32px;
}
#rz_modal-oneclick .input-lg,
.rz_oneclick-buy .input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
select#rz_modal-oneclick .input-lg,
select.rz_oneclick-buy .input-lg {
  height: 46px;
  line-height: 46px;
}
textarea#rz_modal-oneclick .input-lg,
textarea.rz_oneclick-buy .input-lg,
select[multiple] #rz_modal-oneclick .input-lg,
select[multiple] .rz_oneclick-buy .input-lg {
  height: auto;
}
#rz_modal-oneclick .form-group-lg .form-control,
.rz_oneclick-buy .form-group-lg .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
select#rz_modal-oneclick .form-group-lg .form-control,
select.rz_oneclick-buy .form-group-lg .form-control {
  height: 46px;
  line-height: 46px;
}
textarea#rz_modal-oneclick .form-group-lg .form-control,
textarea.rz_oneclick-buy .form-group-lg .form-control,
select[multiple] #rz_modal-oneclick .form-group-lg .form-control,
select[multiple] .rz_oneclick-buy .form-group-lg .form-control {
  height: auto;
}
#rz_modal-oneclick .form-group-lg .form-control-static,
.rz_oneclick-buy .form-group-lg .form-control-static {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  min-height: 38px;
}
#rz_modal-oneclick .has-feedback,
.rz_oneclick-buy .has-feedback {
  position: relative;
}
#rz_modal-oneclick .has-feedback .form-control,
.rz_oneclick-buy .has-feedback .form-control {
  padding-right: 42.5px;
}
#rz_modal-oneclick .form-control-feedback,
.rz_oneclick-buy .form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}
#rz_modal-oneclick .input-lg + .form-control-feedback,
.rz_oneclick-buy .input-lg + .form-control-feedback {
  width: 46px;
  height: 46px;
  line-height: 46px;
}
#rz_modal-oneclick .input-sm + .form-control-feedback,
.rz_oneclick-buy .input-sm + .form-control-feedback {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
#rz_modal-oneclick .has-success .help-block,
.rz_oneclick-buy .has-success .help-block,
#rz_modal-oneclick .has-success .control-label,
.rz_oneclick-buy .has-success .control-label,
#rz_modal-oneclick .has-success .radio,
.rz_oneclick-buy .has-success .radio,
#rz_modal-oneclick .has-success .checkbox,
.rz_oneclick-buy .has-success .checkbox,
#rz_modal-oneclick .has-success .radio-inline,
.rz_oneclick-buy .has-success .radio-inline,
#rz_modal-oneclick .has-success .checkbox-inline,
.rz_oneclick-buy .has-success .checkbox-inline,
#rz_modal-oneclick .has-success.radio label,
.rz_oneclick-buy .has-success.radio label,
#rz_modal-oneclick .has-success.checkbox label,
.rz_oneclick-buy .has-success.checkbox label,
#rz_modal-oneclick .has-success.radio-inline label,
.rz_oneclick-buy .has-success.radio-inline label,
#rz_modal-oneclick .has-success.checkbox-inline label,
.rz_oneclick-buy .has-success.checkbox-inline label {
  color: #3c763d;
}
#rz_modal-oneclick .has-success .form-control,
.rz_oneclick-buy .has-success .form-control {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
#rz_modal-oneclick .has-success .form-control:focus,
.rz_oneclick-buy .has-success .form-control:focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}
#rz_modal-oneclick .has-success .input-group-addon,
.rz_oneclick-buy .has-success .input-group-addon {
  color: #3c763d;
  border-color: #3c763d;
  background-color: #dff0d8;
}
#rz_modal-oneclick .has-success .form-control-feedback,
.rz_oneclick-buy .has-success .form-control-feedback {
  color: #3c763d;
}
#rz_modal-oneclick .has-warning .help-block,
.rz_oneclick-buy .has-warning .help-block,
#rz_modal-oneclick .has-warning .control-label,
.rz_oneclick-buy .has-warning .control-label,
#rz_modal-oneclick .has-warning .radio,
.rz_oneclick-buy .has-warning .radio,
#rz_modal-oneclick .has-warning .checkbox,
.rz_oneclick-buy .has-warning .checkbox,
#rz_modal-oneclick .has-warning .radio-inline,
.rz_oneclick-buy .has-warning .radio-inline,
#rz_modal-oneclick .has-warning .checkbox-inline,
.rz_oneclick-buy .has-warning .checkbox-inline,
#rz_modal-oneclick .has-warning.radio label,
.rz_oneclick-buy .has-warning.radio label,
#rz_modal-oneclick .has-warning.checkbox label,
.rz_oneclick-buy .has-warning.checkbox label,
#rz_modal-oneclick .has-warning.radio-inline label,
.rz_oneclick-buy .has-warning.radio-inline label,
#rz_modal-oneclick .has-warning.checkbox-inline label,
.rz_oneclick-buy .has-warning.checkbox-inline label {
  color: #8a6d3b;
}
#rz_modal-oneclick .has-warning .form-control,
.rz_oneclick-buy .has-warning .form-control {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
#rz_modal-oneclick .has-warning .form-control:focus,
.rz_oneclick-buy .has-warning .form-control:focus {
  border-color: #66512c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}
#rz_modal-oneclick .has-warning .input-group-addon,
.rz_oneclick-buy .has-warning .input-group-addon {
  color: #8a6d3b;
  border-color: #8a6d3b;
  background-color: #fcf8e3;
}
#rz_modal-oneclick .has-warning .form-control-feedback,
.rz_oneclick-buy .has-warning .form-control-feedback {
  color: #8a6d3b;
}
#rz_modal-oneclick .has-error .help-block,
.rz_oneclick-buy .has-error .help-block,
#rz_modal-oneclick .has-error .control-label,
.rz_oneclick-buy .has-error .control-label,
#rz_modal-oneclick .has-error .radio,
.rz_oneclick-buy .has-error .radio,
#rz_modal-oneclick .has-error .checkbox,
.rz_oneclick-buy .has-error .checkbox,
#rz_modal-oneclick .has-error .radio-inline,
.rz_oneclick-buy .has-error .radio-inline,
#rz_modal-oneclick .has-error .checkbox-inline,
.rz_oneclick-buy .has-error .checkbox-inline,
#rz_modal-oneclick .has-error.radio label,
.rz_oneclick-buy .has-error.radio label,
#rz_modal-oneclick .has-error.checkbox label,
.rz_oneclick-buy .has-error.checkbox label,
#rz_modal-oneclick .has-error.radio-inline label,
.rz_oneclick-buy .has-error.radio-inline label,
#rz_modal-oneclick .has-error.checkbox-inline label,
.rz_oneclick-buy .has-error.checkbox-inline label {
  color: #a94442;
}
#rz_modal-oneclick .has-error .form-control,
.rz_oneclick-buy .has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
#rz_modal-oneclick .has-error .form-control:focus,
.rz_oneclick-buy .has-error .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
#rz_modal-oneclick .has-error .input-group-addon,
.rz_oneclick-buy .has-error .input-group-addon {
  color: #a94442;
  border-color: #a94442;
  background-color: #f2dede;
}
#rz_modal-oneclick .has-error .form-control-feedback,
.rz_oneclick-buy .has-error .form-control-feedback {
  color: #a94442;
}
#rz_modal-oneclick .has-feedback label ~ .form-control-feedback,
.rz_oneclick-buy .has-feedback label ~ .form-control-feedback {
  top: 25px;
}
#rz_modal-oneclick .has-feedback label.sr-only ~ .form-control-feedback,
.rz_oneclick-buy .has-feedback label.sr-only ~ .form-control-feedback {
  top: 0;
}
#rz_modal-oneclick .help-block,
.rz_oneclick-buy .help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}
@media (min-width: 768px) {
  #rz_modal-oneclick .form-inline .form-group,
  .rz_oneclick-buy .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  #rz_modal-oneclick .form-inline .form-control,
  .rz_oneclick-buy .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  #rz_modal-oneclick .form-inline .form-control-static,
  .rz_oneclick-buy .form-inline .form-control-static {
    display: inline-block;
  }
  #rz_modal-oneclick .form-inline .input-group,
  .rz_oneclick-buy .form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  #rz_modal-oneclick .form-inline .input-group .input-group-addon,
  .rz_oneclick-buy .form-inline .input-group .input-group-addon,
  #rz_modal-oneclick .form-inline .input-group .input-group-btn,
  .rz_oneclick-buy .form-inline .input-group .input-group-btn,
  #rz_modal-oneclick .form-inline .input-group .form-control,
  .rz_oneclick-buy .form-inline .input-group .form-control {
    width: auto;
  }
  #rz_modal-oneclick .form-inline .input-group > .form-control,
  .rz_oneclick-buy .form-inline .input-group > .form-control {
    width: 100%;
  }
  #rz_modal-oneclick .form-inline .control-label,
  .rz_oneclick-buy .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  #rz_modal-oneclick .form-inline .radio,
  .rz_oneclick-buy .form-inline .radio,
  #rz_modal-oneclick .form-inline .checkbox,
  .rz_oneclick-buy .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  #rz_modal-oneclick .form-inline .radio label,
  .rz_oneclick-buy .form-inline .radio label,
  #rz_modal-oneclick .form-inline .checkbox label,
  .rz_oneclick-buy .form-inline .checkbox label {
    padding-left: 0;
  }
  #rz_modal-oneclick .form-inline .radio input[type="radio"],
  .rz_oneclick-buy .form-inline .radio input[type="radio"],
  #rz_modal-oneclick .form-inline .checkbox input[type="checkbox"],
  .rz_oneclick-buy .form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  #rz_modal-oneclick .form-inline .has-feedback .form-control-feedback,
  .rz_oneclick-buy .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}
#rz_modal-oneclick .form-horizontal .radio,
.rz_oneclick-buy .form-horizontal .radio,
#rz_modal-oneclick .form-horizontal .checkbox,
.rz_oneclick-buy .form-horizontal .checkbox,
#rz_modal-oneclick .form-horizontal .radio-inline,
.rz_oneclick-buy .form-horizontal .radio-inline,
#rz_modal-oneclick .form-horizontal .checkbox-inline,
.rz_oneclick-buy .form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
}
#rz_modal-oneclick .form-horizontal .radio,
.rz_oneclick-buy .form-horizontal .radio,
#rz_modal-oneclick .form-horizontal .checkbox,
.rz_oneclick-buy .form-horizontal .checkbox {
  min-height: 27px;
}
#rz_modal-oneclick .form-horizontal .form-group,
.rz_oneclick-buy .form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}
@media (min-width: 768px) {
  #rz_modal-oneclick .form-horizontal .control-label,
  .rz_oneclick-buy .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
  }
}
#rz_modal-oneclick .form-horizontal .has-feedback .form-control-feedback,
.rz_oneclick-buy .form-horizontal .has-feedback .form-control-feedback {
  right: 15px;
}
@media (min-width: 768px) {
  #rz_modal-oneclick .form-horizontal .form-group-lg .control-label,
  .rz_oneclick-buy .form-horizontal .form-group-lg .control-label {
    padding-top: 14.333333px;
  }
}
@media (min-width: 768px) {
  #rz_modal-oneclick .form-horizontal .form-group-sm .control-label,
  .rz_oneclick-buy .form-horizontal .form-group-sm .control-label {
    padding-top: 6px;
  }
}
#rz_modal-oneclick * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.rz_oneclick-buy {
  display: inline-block;
}
.rz_oneclick-buy > .btn {
  text-decoration: none;
}
#rz_modal-oneclick .btn,
.rz_oneclick-buy .btn {
  height: auto;
  font-family: sans-serif;
  text-transform: none;
}
#rz_modal-oneclick .btn.btn-primary,
.rz_oneclick-buy .btn.btn-primary {
  height: auto;
}
#rz_modal-oneclick .message,
.rz_oneclick-buy .message {
  font-size: inherit;
  font-family: sans-serif;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
#rz_modal-oneclick .message.message-error,
.rz_oneclick-buy .message.message-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
#rz_modal-oneclick .message.message-warning,
.rz_oneclick-buy .message.message-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
#rz_modal-oneclick .message.message-success,
.rz_oneclick-buy .message.message-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
#rz_modal-oneclick .req:after,
.rz_oneclick-buy .req:after {
  content: '*';
  color: red;
}
