span.quantity-counter {
	display: inline-block;
}
span.required {
	color: #f00;
}
div.errortext {
	display: none;
}
span.market {
	display: none;
}
#basket_form footer.footer-order {
	margin-top: 50px;
	padding-top: 10px;
}
div.buy-block {
	float: right;
}
.main-btn.make-order.disabled{
	color: #000;
	fill: #000;
	background: #fff;
	box-shadow: none;
	border: 1px solid #e4e4e4;
	pointer-events: none;
}
